<div class="row justify-content-end">
  <div class="col-auto" *ngIf="authService.isAdmin && !mobile">
    <button mat-icon-button
            [matTooltip]="currentDescription.map_appearance ? 'Change image location' : 'Pin image on a map'"
            (click)="openMapPinner()">
      <mat-icon>{{currentDescription.map_appearance ? 'edit_location_alt' : 'add_location_alt'}}</mat-icon>
    </button>
  </div>
  <div class="col-auto" *ngIf="authService.isAdmin">
    <button mat-icon-button matTooltip="Edit picture attributes"
            (click)="descriptionEditRequested.emit()">
      <mat-icon>mode_edit_outline</mat-icon>
    </button>
  </div>
  <div class="col-auto" *ngIf="authService.isAdmin">
    <button mat-icon-button matTooltip="Download"
            (click)="downloadRequested.emit()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <span style="margin-right: 20px"><b>Author</b></span>
    <span>{{currentDescription.author | displayListProperly}}</span>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <span style="margin-right: 34px"><b>Date</b></span>
    <span>{{currentDescription.datetime === null ? '-' : currentDescription.datetime}}</span>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <span style="margin-right: 10px"><b> Camera </b></span>
    <span>{{currentDescription.camera}}</span>
  </div>
</div>
<div class="row description">
  <span class="col-md">{{currentDescription.description}}</span>
</div>
<hr>
<div class="row" *ngIf="collectionsSummaries?.length > 0">
  <div class="col-md-4">
    <p><b>Appears in</b></p>
  </div>
  <div class="col-md-4 mt-1" *ngFor="let collection of collectionsSummaries; let i=index">
    <button mat-raised-button class="appearance-button"
            (click)="openCollection(collection.id)"
            [matTooltip]="'Open ' + (collection.name ? '\'' + collection.name + '\' ' : '') + 'in new tab'">
      <mat-icon>open_in_new</mat-icon>
      {{collection.name}}
    </button>
  </div>
</div>
<div class="row" *ngIf="currentDescription.map_appearance">
  <app-map class="map" [imageIDToFocus]="currentDescription.id"
           [mapID]="currentDescription.map_appearance"></app-map>
</div>
<div class="row mt-3 mb-3">
  <div class="col-md" *ngIf="currentDescription.tags.length !== 0">
    <mat-chip-list>
      <mat-chip disabled *ngFor="let tag of currentDescription.tags.split(',')">{{tag}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
