.description {
  margin-top: 20px;
}

.map {
  height: 35vh;
  margin-top: 20px;
  width: 100%;
}

.appearance-button {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 1024px) {
  .description {
    margin-top: 3px;
  }
}
