<mat-dialog-content style="overflow: unset; max-height: unset">
  <h1 mat-dialog-title>{{imageDescription ? 'Map editor' : 'Map editor' }}</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="map-card">
          <mat-card appearance="outlined">
            <div id="map-pin"></div>
          </mat-card>
        </div>
      </div>
      <div class="col-md-5">
        <mat-card appearance="outlined">
          <p *ngIf="!isPlacingMarker">Click on a marker to select it. Once selected, a marker is draggable.</p>
          <hr *ngIf="!isPlacingMarker">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12" *ngIf="isPlacingMarker || openFromAdmin">
                <mat-form-field appearance="outline" class="mb-1 mt-1 w-100">
                  <mat-label>{{openFromAdmin ? 'Select a map' : 'Place a marker on :'}}</mat-label>
                  <mat-select (selectionChange)="onMapSelectionChange($event.value)"
                              [disabled]="this.mapIsLoading" #mapSelector [value]="currentMap">
                    <mat-option *ngFor="let map of mapSummaries"
                                [value]="map">{{mapService.printMapName(map.name)}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row col-md-12" *ngIf="!isPlacingMarker && !openFromAdmin">
              <p><b>Map : </b>{{this.currentMap?.name}}</p>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <mat-slide-toggle (change)="onToggleChange($event)"
                                  color="primary"
                                  matTooltip="When ON, allows you to specify a radius in km to define a zone"
                                  [disabled]="!this.currentFeature" #rangeToggle> Ranged
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <mat-slider
                  color="primary"
                  min="100" max="100000" step="50" class="h-100"
                  [disabled]="!this.currentFeature?.properties.range"
                  [value]="rangeSliderValue"
                  (change)="onSliderChange($event)" #rangeSlider>
                </mat-slider>
              </div>
              <div class="col-md-4" style="margin-top: 10px"
                   [ngClass]="this.currentFeature?.properties.range ? 'range-active' : 'range-inactive'">
                {{'Radius ' + (this.currentFeature?.properties.range ? (rangeSlider?.value | toHumanDistance) : 'N/A')}}
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="image-wrapper">
                <img title="Preview"
                     alt="preview"
                     *ngIf="!!currentFeature"
                     [lazyLoad]="imageService.getImageURL(
                 mapService.parseDescription(currentFeature.properties.description).imageID, 2)">
                <mat-icon *ngIf="!currentFeature" class="icon-no-image">panorama</mat-icon>
                <p class="text-center" style="color: #d0d3e0; padding-top: 150px;">Select an image</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <button mat-raised-button class="picportos-button" [disabled]="!currentFeature"
                      (click)="deleteSelected()">
                <mat-icon style="margin-right: 5px; vertical-align: middle;">cancel
                </mat-icon>
                Delete point
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row mt-3 mb-3 justify-content-end" style="min-height: 40px">
      <div class="col-md-8">
        <p *ngIf="isPlacingMarker"><b>Click anywhere on the map to place your image.</b></p>
      </div>
      <div class="col-auto ms-auto">
        <button mat-raised-button
                class="picportos-button-accent" (click)="saveChanges()">Save changes
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
