#map-pin {
  height: 100%;
  width: 100%;
}

.map-card {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
mat-slider {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  height: 60vh;
}

.image-wrapper {
  height: 25vh;
  margin: 10px auto;
  width: 100%;
}

.icon-no-image {
  color: #d0d3e0;
  font-size: 150px;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 150px;
}

img {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  left: 0;
  margin: auto;
  max-height: 25vh;
  max-width: 80%;
  position: absolute;
  right: 0;
}

.range-active {
  color: black;
}

.range-inactive {
  color: #cacdda;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
.mat-slider-thumb-label-text {
  color: black !important;
  opacity: 1 !important;
  transform: rotate(0deg) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
.mat-mdc-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
  border-radius: 5px 5px 0 !important;
  right: 0px !important;
  top: -30px !important;
  transform: rotate(0deg) !important;
  width: 7rem !important;
}
