.rotator-row {
  padding: 5px;
  margin: auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  background: #8397a8;
  padding-left: 20px;
  padding-right: 20px;
}

.picportos-button {
  margin-top: 15px;
}

.rotator-card {
  height: 100%;
}
