<mat-card appearance="outlined" class="rotator-card">
  <div class="row m-auto rotator-row g-0">
    <div class="col-auto">
      <h5><i>Image rotation</i></h5>
    </div>
  </div>
  <div class="row rotator-row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Image ID*</mat-label>
        <input matInput [(ngModel)]="imageID" placeholder="ex: 123">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Rotation (°) (clockwise)*</mat-label>
        <mat-select [disabled]="uploading" [(ngModel)]="rotation">
          <mat-option *ngFor="let option of rotationOptions" [value]="option.value">{{option.display}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ms-auto col-auto">
      <button mat-raised-button [disabled]="uploading" class="picportos-button" (click)="onSubmit()">Apply</button>
    </div>
  </div>
</mat-card>
