<app-nav-bar></app-nav-bar>
<div class="background"></div>
<div class="collection-display-wrapper scrollable" #scrollablediv>
  <div class="container-fluid" *ngIf="displayCollection" [ngClass]="mobile ? '' : 'p-0'">
    <div class="row justify-content-center" *ngIf="collection && !editable">
      <div class="col-md-5">
        <h1 class="collection-header">{{collection.name}}</h1>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="collection && !editable">
      <div class="col-md-5">
        <hr class="collection-rule">
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="collection && !editable">
      <div class="col-md-5">
        <h6>{{collection.description}}</h6>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="collection && !editable && collection.lastModified">
      <div class="col-md-5">
        <span><i>Last edited {{collection.lastModified | date}}</i></span>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="collection && !editable">
      <div class="col-md-5">
        <hr class="collection-rule">
      </div>
    </div>
    <div class="row justify-content-around mb-3 align-items-center collection-editor-row" *ngIf="editable && !mobile">
      <div class="col-md-8">
        <h3 class="collection-header">Collection Editor</h3>
      </div>
      <div class="col-md-2 text-center">
        <button mat-button
                class="picportos-button on-edit-button"
                (click)="toggleEditable(true)"
                matTooltip="Revert changes">
          Cancel
        </button>
      </div>
      <div class="col-md-2 text-center">
        <button mat-raised-button
                class="picportos-button-pulse on-edit-button"
                [disabled]="sendingChanges"
                (click)="toggleEditable()" matTooltip="Send changes to the server">
          Save
        </button>
      </div>
    </div>
    <div class="row justify-content-around mb-3 align-items-center collection-editor-row" *ngIf="editable && mobile">
      <h6 class="collection-header">Collection Editor</h6>
      <button mat-icon-button
              class="picportos-button on-edit-button"
              (click)="toggleEditable(true)"
              matTooltip="Revert changes">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button
              class="picportos-button-accent on-edit-button"
              [disabled]="sendingChanges"
              (click)="toggleEditable()" matTooltip="Send changes to the server">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div *ngIf="collection" [ngStyle]="editable ? {'padding-top': '100px'} : {}">
      <div class="row padded-row collection-content" *ngIf="editable">
        <form [formGroup]="collectionForm" class="collection-form">
          <div class="row">
            <mat-form-field class="col-md-5 collection-form-field">
              <mat-label>Name</mat-label>
              <textarea matInput placeholder="{{collection?.name}}" formControlName="name"></textarea>
            </mat-form-field>
            <mat-form-field class="col-md-5 collection-form-field">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="{{collection?.description}}" formControlName="description"></textarea>
            </mat-form-field>
            <div class="col-md-2 align-self-center" *ngIf="auth.isAdmin && !deleteConfirm">
              <button mat-raised-button
                      class="picportos-button-accent"
                      matTooltip="Delete collection"
                      (click)="deleteConfirm = true">
                Delete
              </button>
            </div>
            <div class="col-md-2 align-self-center" *ngIf="auth.isAdmin && deleteConfirm">
              <button mat-icon-button class="picportos-button" (click)="deleteConfirm = false">
                <mat-icon>cancel</mat-icon>
              </button>
              <button mat-icon-button
                      class="picportos-button-warn"
                      matTooltip="Delete this collection permanently from the server [Not recoverable]"
                      (click)="deleteCollection()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-auto me-auto collection-form-field">
              <button mat-button class="picportos-button" (click)="onThumbnailChooseButtonClick()">
                Select thumbnail
              </button>
            </div>
            <div class="col-auto">
              <mat-slide-toggle formControlName="ispublic"
                                color="warn"
                                class="toggle-public" #publictoggle>
                <span *ngIf="publictoggle.checked"><b>Public</b></span>
                <span *ngIf="!publictoggle.checked">Public</span>
              </mat-slide-toggle>
            </div>
          </div>
        </form>
        <hr id="custom-rule">
      </div>
      <div class="row g-0 justify-content-center mb-2 mt-2"
           *ngIf="collection.map_id !== null && !editable">
        <div class="col-md-5">
          <app-map class="collection-map" [mapID]="collection.map_id" [enable3D]="!mobile"></app-map>
        </div>
      </div>

      <app-modifier *ngIf="editable && collection.structure === ''" class="padded-row"
                    (request)="modifyRequested($event, 0)"></app-modifier>
      <div class="row collection-content justify-content-center" *ngFor="let letter of structure; let i=index">
        <div class="container-fluid">
          <app-modifier *ngIf="editable" (request)="modifyRequested($event, i)" class="padded-row"></app-modifier>
          <div class="row justify-content-center">
            <div *ngIf="letter === 'T' && this.collection" class="col-md-5">
              <app-text-content
                [currentHTML]="collection.textContent[indexesInContent[i]]"
                (newTextEmitter)="saveTextFromTextSection({indexInStructure: i, content: $event})"
                [saveAll]="saveAllEmitter"
                [editable]="editable"
                class="content-margins"
                [ngClass]="editable ? 'text-content-edit' : 'text-content'">
              </app-text-content>
            </div>
            <app-image-content *ngIf="letter === 'I'"
                               [id]="collection.imageContent[indexesInContent[i]]"
                               (deleteEmitted)="deleteContentAtIndex(i, 1)"
                               [editable]="editable"
                               class="image-content content-margins">
            </app-image-content>
            <app-carousel-content *ngIf="letter === 'C'"
                                  [editable]="editable"
                                  [imageIds]="collection.carouselContent[indexesInContent[i]]"
                                  (deleteRequested)="deleteContentAtIndex(i, 2)"
                                  (modifyRequested)="onCarouselModify($event, i)"
                                  class="w-100 content-margins">
            </app-carousel-content>
          </div>
          <app-modifier *ngIf="editable && i === structure.length - 1" class="padded-row"
                        (request)="modifyRequested($event, -1)"></app-modifier>
        </div>
      </div>
    </div>

    <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
  </div>
  <div *ngIf="!displayCollection" class="container-fluid">
    <div class="row justify-content-center">
      <span><mat-icon class="bigicon-not-found">deselect</mat-icon></span>
    </div>
    <div class="row justify-content-center">
      <h2>Collection was not found on the server or does not exists.</h2>
    </div>
    <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
  </div>
</div>
<div class="scroll-to-top-div" *ngIf="structure?.length > 2">
  <button mat-button matTooltip="Scroll to top"
          *ngIf="!mobile"
          class="picportos-button"
          (click)="scrollablediv.scrollTop = 0">
    <mat-icon>arrow_drop_up</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Scroll to top"
          *ngIf="mobile"
          class="picportos-button"
          (click)="scrollablediv.scrollTop = 0">
    <mat-icon>arrow_drop_up</mat-icon>
  </button>
</div>
<div class="edit-button" *ngIf="!editable && auth.isAdmin">
  <button mat-raised-button class="picportos-button-accent mt-1"
          *ngIf="!mobile"
          (click)="toggleEditable()">
    <mat-icon style="vertical-align: middle; margin: 2px">settings</mat-icon>
    Edit collection
  </button>
  <button mat-icon-button class="picportos-button-accent mt-1"
          *ngIf="mobile"
          (click)="toggleEditable()">
    <mat-icon style="vertical-align: middle; margin: 2px">settings</mat-icon>
  </button>
</div>
