.collection-header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.collection-display-wrapper {
  color: white;
  min-height: calc(100vh - 60px);
}

.collection-editor-row {
  background-color: #8397a8;
  border-radius: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 99;
}

.padded-row {
  padding-left: 25%;
  padding-right: 25%;
}

.on-edit-button {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100px;
}

.collection-form-field {
  color: black;
}

.collection-content {
  margin: auto auto 10px;
  max-width: 100%;
}

.text-content {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 25% 0;
}

.text-content-edit {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.image-content {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-margins {
  margin-bottom: 10px;
  margin-top: 10px;
}

.collection-form {
  background-color: rgba(230, 215, 134, 0.53);
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.toggle-public {
  margin-right: 20px;
  margin-top: 5px;
}

.collection-rule {
  background: white;
  width: 100%;
}

#custom-rule {
  background: #f3e600;
  border-radius: 5px;
  border-width: 5px;
  box-shadow: 0 2px 5px rgb(19, 19, 19);
  margin-bottom: 5%;
  width: 100%;
}

.scroll-to-top-div {
  bottom: 10px;
  right: 20px;
}

.scrollable {
  overflow-x: hidden;
}

.edit-button {
  position: fixed;
  right: 30px;
  top: 65px;
  z-index: 99;
}

.collection-map {
  display: block;
  height: 50vh;
}

@media (max-width: 1024px) {
  .collection-display-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .padded-row {
    padding-left: 5px;
    padding-right: 5px;
  }

  .on-edit-button {
    width: 40px;
  }
}
