<div class="loader-container" *ngIf="!showImage">
  <mat-icon>camera_roll</mat-icon>
</div>
<div matRipple class="frame" [ngClass]="{'selected': selected}">

<img [src]="thumbnailurl | async"
       [title]="getInfos()"
       class="w-100"
       [width]="knapsackWidth"
       [height]="imageHeight"
       masonryLazy
       loading="lazy"
       [draggable]="false" #theImage>
</div>
