.frame {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background-color 0.1s, box-shadow .3s;
  width: 100%;
}

.frame:hover {
  background: rgba(252, 252, 253, 0);
  box-shadow: 0 0 0 1px #fff;
}

.selected {
  background: rgb(243, 230, 0);
  border-radius: 6px;
  padding: 2px;
}

.selected:hover {
  background: rgb(243, 230, 0);
  box-shadow: 0 0 0 1px rgb(243, 230, 0);
}

img {
  image-orientation: from-image;
  object-fit: cover;
  width: 100%;
  transition: all 0.2s;
}

img:hover {
  object-fit: cover;
  transition: all 0.2s;
  transform: scale(1.05);
}

.loader-container {
  height: 24px;
  width: 24px;
  color: white;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

mat-icon {
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    color: #3767a2;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #3767a2;
  }
}
