<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Getting started
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><b>If you are the creator and this is your first time with Rafalis, you might want to take two minutes to read
      this !</b></p>
    <h6>First configuration</h6>
    <p>Before anything else, start by updating the general parameters which are :</p>
    <ul>
      <li><b>Main title</b> : the home page text that will display on top.</li>
      <li><b>Subtitle</b> : the home page text that will display as a subtitle.</li>
      <li><b>Authors</b> : the available authors to select when uploading images to the database (see below)</li>
      <li><b>Cameras</b> : the available cameras to select when uploading images to the database (see below)</li>
    </ul>

    <h6>Image management</h6>
    <p>Start by uploading images to the database by clicking the
      <mat-icon>upload</mat-icon>
      <b>Image</b> button below. You will be asked to specify the following fields :
    </p>
    <ul>
      <li><b>Title</b></li>
      <li><b>Author</b> : select one or several author(s). The available authors are configurable
        from the "Main Configuration" section below.
      </li>
      <li><b>Camera</b> : select the camera you used. The available cameras are configurable
        from the "Main Configuration" section below.
      </li>
      <li><b>Date</b> - optional</li>
      <li><b>Description</b> - optional</li>
      <li><b>Hide in browse</b> - the image will not be shown in the /browse page, but you will still be able to add
        it to a collection.
      </li>
    </ul>
    <p>Once added, your image will be processed by the server and it will generate several downsized images from yours.
      Sometimes, the generated images will be rotated, <b>see the rotator guide to help with that.</b></p>
    <p>So far, <b>HEIC</b> (default Apple image format) format is not supported, but it is on the roadmap.</p>

    <h6>Collection management</h6>
    <p>Collections are useful to present several images along with more detailed texts.</p>
    <p>Once you have added images to the database (the Images table below is not empty), you will be able to create
      and modify collections using the
      <mat-icon>add</mat-icon>
      <b>Collection</b> button.
    </p>
    <p>The collection creator lets you add either a text section, a single image section, or a carousel section. A text
      section is editable and some basic styling is available. A single picture section is an image that you choose
      among the images in the database. A carousel section is the same as a single picture, except that you can select
      several images.</p>

    <h6>Map management</h6>
    <p>Maps are useful when you are talking for example about a journey.</p>
    <p>A base Rafalis map is present by default in the database. You can place and move an image on it by clicking on
      the
      <mat-icon>add_location_alt</mat-icon>
      icon, when viewing an image.
    </p>
    <p>The map section below allows you to edit a map, or to create your own. Optionnaly, when creating a map, you can
      add a geojson formatted map, for example to display a journey trace. More information on that in the
      <b> [advanced] How do I use maps ?</b> guide section.</p>
    <p>Finally, a map can be associated with a collection, in that case it will be displayed as the first section of
      the collection.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How does the home page work ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    The image displayed in the home page is picked randomly among the images which have the <b>Show in homepage</b>
    slider on.
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why is there a 'Privileged viewer' login ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    The Rafalis content is accessible according to this access matrix :

    <table>
      <tr>
        <th></th>
        <th>Public content</th>
        <th>Private content</th>
        <th>Creator features</th>
      </tr>
      <tr>
        <td>Anonymous (not logged in)</td>
        <td class="text-center">x</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td>Logged in as privileged viewer</td>
        <td class="text-center"> x</td>
        <td class="text-center"> x</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td>Logged in as creator</td>
        <td class="text-center"> x</td>
        <td class="text-center"> x</td>
        <td class="text-center"> x</td>
      </tr>
    </table>

    <p>The 'Privileged viewer' login simply allows you to give trusted persons access to the private content of Rafalis,
      without giving them permissions to modify the content.</p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How does image rotation works ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The rotator helps you to rotate images in the database. Sometimes, the uploaded image will be displayed
      incorrectly
      in Rafalis.</p>
    <p>To fix that, the rotator is here to help you. Select the <b>id</b> of the image you want to rotate. Select the
      <b>rotation</b>
      you want to apply to it (clockwise, in degrees). Click 'Apply', and you should now see your images correctly.</p>

    <!--    For legacy-->
    <!--    <p>More details, for those who wants. Your image is rotated by Rafalis because it generates 3 down-sized versions of your images : </p>-->
    <!--    <ul>-->
    <!--      <li><b>Full image</b> : the image you see when you open it in Rafalis </li>-->
    <!--      <li><b>Thumbnail</b> : the image you see in the /browse page</li>-->
    <!--      <li><b>Mini Thumbnail</b> : the image you see in the image table below, in the creator panel where you are right now.</li>-->
    <!--    </ul>-->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        [advanced] How do I use maps ?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h4>Map</h4>
    Maps can be used to show a gpx trace, or assign a location to your images. In this guide, we will see how to create
    and add a map to the database.
    <h5>1- Open or create your map</h5>
    <p>Open or create a new map in <a href="https://www.google.com/maps/d/u/0/" target="_blank" title="Open in new tab">
      Google MyMaps</a>.</p>
    <p>You can import a .gpx or .kml file to display it in Rafalis, by clicking on the <b
      class="text-monospace">import</b> button on the left. Once your trace is imported, you should see it displayed
      like
      in the example below.</p>
    <img src="assets/tutorial/main-trace.png" alt="example map" class="tutorial-image">
    <h5>2- (optionnal) Add image tags</h5>
    <p>If you want, you can tag images currently present in Rafalis to have them located somewhere on the map.</p>
    <h6>2.1-Get the image ID</h6>
    <p>For this, make sure you have already imported the image you want to tag in the database. Once done,
      get the id of the images by looking for it in the Image table, as shown below : </p>
    <img src="assets/tutorial/getid.png" alt="get image id" class="tutorial-image">
    <h6>2.2- Place the image on the map</h6>
    <p>On your map, create a new marker by clicking the
      <mat-icon>place</mat-icon>
      icon. Place your marker anywhere you
      want on the map.
    </p>
    <img src="assets/tutorial/image-tag1.png" alt="tag image" class="tutorial-image">
    <p>In the marker description, refer the id of the image you want preceded with <b
      class="text-monospace">!img{{ "{" }}id{{ "}" }}</b>
      (ex: <b class="text-monospace">!img1990</b>) just like below. If you want, you can also add a short description
      on a new line, for example :</p>
    <img src="assets/tutorial/image-tag2.png" alt="tag image" class="tutorial-image">
    <p>You can place as many images as you want.</p>
    <h5>3- Export your map</h5>
    <p>Click the
      <mat-icon>more_vert</mat-icon>
      icon, and click "Export to KML/KMZ".
    </p>
    <img src="assets/tutorial/export.png" alt="export map" class="tutorial-image">
    <p><b>Important</b> If you have several layers on your map, be sure to only export the one you want. Your image tag
      markers should be in the same layer as your exported map, otherwise they will not be displayed.</p>
    <p>Make also sure to click "Export as KML instead of KMZ" to ensure compatibility with Rafalis. So use these
      settings :</p>
    <img src="assets/tutorial/export2.png" alt="export map" class="tutorial-image">
    <h5>4- Convert your exported map to GeoJson</h5>
    <p>You now have to convert your kml to get a geojson format. You can use
      <a href="https://mygeodata.cloud/converter/kml-to-geojson" target="_blank" title="Open in new tab">this online
        tool</a> if you want, or (recommended)
      <a href="https://github.com/mrcagney/kml2geojson" target="_blank" title="Open in new tab">this python
        converter</a>, though it's a bit more
      advanced method.</p>
    <h5>5- Import your map into Rafalis</h5>
    <p>You can now import your .json file to Rafalis by using the fields below. If you want, you can choose your map
      to appear in a collection by associating it with a collection (note that for now, a map can be associated with
      only one collection).</p>
    <p>You should now be able to see your map and the associated images <a [href]="'/maps'">here</a> by selecting it !
    </p>
  </mat-expansion-panel>
</mat-accordion>
