.tutorial-image {
  border: 1px solid black;
  display: block;
  margin: 10px auto 10px auto;
  max-height: 40%;
  max-width: 90%;
}

p > mat-icon {
  vertical-align: middle;
  dominant-baseline: middle;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
