<div [ngClass]="'loader-container' + (classes.includes('main-image') ? ' h-100' : '')" *ngIf="!imageURL || !showImage">
  <img src="assets/loader.svg" alt="loading image..." class="loader">
</div>
<img [src]="imageURL" *ngIf="imageURL"
     [alt]="alt"
     [title]="title"
     [ngClass]="classes"
     [draggable]="false"
     loading="lazy"
     (click)="this.imageclicked.emit({id: this.imageID, url: this.imageURL})">
