.loader {
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: unset;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.loader-container {
  bottom: 0;
  height: 45vh;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.loader-container-full-image {
  height: 100%;
}

.main-image {
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  top: 0;
  width: auto;
}

.thumbnail {
  max-height: 400px;
  object-fit: cover;
  transition: all 0.5s;
  width: 50vw;
}

.thumbnail:hover {
  cursor: pointer;
  max-height: 400px;
  transform: scale(1.2);
}

.collection-image {
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 60px);
  object-fit: contain;
  transition: all 0.2s;
  max-width: 100%;
}

.collection-image:hover {
  cursor: pointer;
}

.collection-image-small {
  margin-left: auto;
  margin-right: auto;
  max-height: calc(70vh - 60px);
  max-width: 41.6666%;
  transition: all 0.2s;
}

.collection-image-small:hover {
  cursor: pointer;
}

.carousel-image {
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  transition: all 0.2s;
  max-width: 100%;
}

.carousel-image-small {
  max-height: calc(80vh - 60px);
  margin: auto;
  max-width: 41.6666%;
  object-fit: contain;
  transition: all 0.2s;
}

.image-hide {
  display: none;
}

.image-shown {
  display: block;
  animation: custom-fade-in .4s;
}

@media (max-width: 1024px) {
  .thumbnail {
    width: 95vw;
  }

  .main-image {
    position: relative;
  }


  .collection-image-small {
    max-width: 100%;
  }

  .carousel-image-small {
    max-width: 100%;
  }
}
