.collection-desc {
  color: white;
  text-align: center;
}

app-collections {
  overflow-x: hidden;
}

.rule {
  background: white;
  width: 30%;
  margin: 10px auto;
}

.frame {
  height: 400px;
  margin: auto;
  overflow: hidden;
  width: 50vw;
}

.picportos-button {
  opacity: 0;
  transition: 0.2s opacity;
}

.collection-row:hover {
  .picportos-button {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    opacity: 1;
  }
}

.collection-thumb {
  display: flex;
  height: 100%;
  width: 100%;
}

.collection-desc:hover {
  cursor: pointer;
}

@media (max-width: 1023px) {

  .picportos-button {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    margin-bottom: 20px;
    opacity: 1;
  }

  .collection-desc {
    margin-top: 20px;
  }

  .frame {
    height: 400px;
    margin: auto;
    overflow: hidden;
    width: 95vw;
  }
}
