<div class="background"></div>
<app-nav-bar [activatedItem]="'collections'"></app-nav-bar>
<div class="container-fluid scrollable hide-scrollbar p-0">
  <div class="row g-0 align-items-center collection-row" *ngFor="let c of collectionsPreview; let i=index">
    <div class="col-md-6" *ngIf="i % 2 === 0 || mobileScreen">
      <div class="frame">
        <app-image [imageID]="c.thumbnailid"
                   [alt]="c.name"
                   [classes]="'thumbnail'"
                   [routerLink]="'/collections/' + c.id"
                   class="collection-thumb"></app-image>
      </div>
    </div>
    <div class="col-md-6" *ngIf="i % 2 === 0 || mobileScreen">
      <div class="collection-desc" [routerLink]="'/collections/' + c.id">
        <h3>{{c.name}}</h3>
        <hr class="rule">
        <p class="pe-2 ps-2">{{c.description}}</p>
        <button mat-raised-button class="picportos-button" [routerLink]="'/collections/' + c.id"
                matTooltip="Open">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-6" *ngIf="i % 2 === 1 && !mobileScreen">
      <div class="collection-desc" [routerLink]="'/collections/' + c.id">
        <h3>{{c.name}}</h3>
        <hr class="rule">
        <p class="pe-2 ps-2">{{c.description}}</p>
        <button mat-raised-button class="picportos-button" [routerLink]="'/collections/' + c.id"
                matTooltip="Open">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-6" *ngIf="i % 2 === 1 && !mobileScreen">
      <div class="frame">
        <app-image [imageID]="c.thumbnailid"
                   [alt]="c.name"
                   [classes]="'thumbnail'"
                   [routerLink]="'/collections/' + c.id"
                   class="collection-thumb"></app-image>
      </div>
    </div>
  </div>
  <div *ngIf="loading">
    <mat-progress-bar class="mt-4 w-75 ms-auto me-auto" mode="buffer"></mat-progress-bar>
  </div>
  <div *ngIf="collectionsPreview?.length === 0 && !loading" class="row g-0">
    <div class="col-md-12 mt-5">
      <h3 style="text-align: center; color: white">No collection yet.</h3>
    </div>
  </div>
  <div *ngIf="collectionsPreview?.length === 0 && auth.isAdmin" class="row justify-content-center">
    <div class="col-md-auto">
      <button mat-raised-button class="picportos-button-accent" (click)="newCollection()">
        <mat-icon>edit</mat-icon>
        Create a new collection
      </button>
    </div>
  </div>
  <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
</div>
