button {
  margin-right: 20px;
}

mat-form-field, label {
  width: 100%;
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
