<div class="container-fluid">
  <div class="desktop">
    <div class="row">
      <div class="col-md-3">
        <h3>Edit attributes</h3>
      </div>
      <div class="col-md-2" [ngClass]="mobileService.isMobileScreen ? '': 'offset-3'">
        <button mat-icon-button
                *ngIf="authService.isAdmin"
                (click)="cancel()"
                matTooltip="Cancel"
                [disabled]="updating">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div class="col-md-2">
        <button mat-icon-button
                *ngIf="authService.isAdmin"
                (click)="onUpdateClick()"
                matTooltip="Update"
                [disabled]="updating">
          <mat-icon>upload</mat-icon>
        </button>
      </div>
      <div class="col-md-2" *ngIf="authService.isAdmin && !deleteConfirm">
        <button mat-icon-button
                class="picportos-button-accent"
                matTooltip="Delete image"
                (click)="deleteConfirm = true">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="col-md-2" *ngIf="authService.isAdmin && deleteConfirm">
        <button mat-icon-button class="picportos-button" (click)="deleteConfirm = false">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button
                class="picportos-button-warn"
                color="warn"

                [disabled]="currentDescription.collections_appearance.length > 0"
                [matTooltip]="currentDescription.collections_appearance.length > 0 ?
                    'Image is used in a collection, can not delete it.' : 'Delete this image permanently (not recoverable)'"
                (click)="deleteImage()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="row">
      <h3 style="margin-right: 15%">Edit attributes</h3>
      <button mat-icon-button
              *ngIf="authService.isAdmin"
              (click)="cancel()"
              matTooltip="Cancel"
              [disabled]="updating">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="authService.isAdmin"
              (click)="onUpdateClick()"
              matTooltip="Update"
              [disabled]="updating">
        <mat-icon>upload</mat-icon>
      </button>
      <button mat-icon-button
              class="picportos-button-accent"
              matTooltip="Delete image"
              (click)="deleteConfirm = true">
        <mat-icon>delete</mat-icon>
      </button>
      <div *ngIf="authService.isAdmin && deleteConfirm">
        <button mat-icon-button class="picportos-button" (click)="deleteConfirm = false">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button
                class="picportos-button-accent"
                color="warn"
                [disabled]="currentDescription.collections_appearance.length > 0"
                [matTooltip]="currentDescription.collections_appearance.length > 0 ?
                    'Image is used in a collection, can not delete it.' : 'Delete this image permanently (not recoverable)'"
                (click)="deleteImage()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <form [formGroup]="descriptionForm" class="w-100">
    <div class="row col-md-12">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <label>
          <textarea matInput placeholder="{{currentDescription.title}}" formControlName="title" required></textarea>
        </label>
      </mat-form-field>
    </div>
    <div class="row col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Camera</mat-label>
        <mat-select formControlName="camera" required>
          <mat-option *ngFor="let camera of userService?.userCameras" [value]="camera">{{camera}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-5">
        <mat-slide-toggle (change)="toggleDate()" [checked]="dateUnknown"
                          color="primary">Unknown date
        </mat-slide-toggle>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="datetime">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <mat-select formControlName="author" multiple required>
            <mat-option *ngFor="let author of userService?.userAuthors" [value]="author">{{author}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row col-md-12">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <label>
            <textarea matInput placeholder="{{currentDescription.description}}"
                      formControlName="description"></textarea>
        </label>
      </mat-form-field>
    </div>
    <div class="row col-md-12">
      <mat-form-field appearance="fill" style="margin-top: 22px">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection" formControlName="tags">
          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md">
        <mat-slide-toggle formControlName="hide_in_browse" color="primary"
                          matTooltip="When on, the image will not be shown in the /browse page, but will still be available to be added in a collection.">
          <b>Hide in browse</b></mat-slide-toggle>
      </div>
      <div class="col-md">
        <mat-slide-toggle formControlName="show_in_home" color="primary"
                          (change)="onHomePageChange($event)"
                          matTooltip="When on, the image can be randomly selected to be on the home page. The image then has to be public.">
          <b>Shows in
            homepage</b></mat-slide-toggle>
      </div>
    </div>
    <div class="row col-md">
      <mat-slide-toggle formControlName="ispublic" color="warn"><b>Public</b></mat-slide-toggle>
    </div>
  </form>
</div>
