.thumbnail {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

.mat-mdc-form-field {
  width: 100%;
}

label {
  width: 100%;
}

.thumb-selector-wrapper {
  width: 80vw;
}

@media (max-width: 1024px) {
  .thumb-selector-wrapper {
    width: 95vw;
  }
}
