<mat-card-title>Add a new collection</mat-card-title>
<mat-card-content>
  <form [formGroup]="addCollectionForm">
    <div *ngIf="!thumbnailSelector">
      <div class="row">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <label>
            <textarea [disabled]="uploading" matInput placeholder="Collection title..."
                      formControlName="name"></textarea>
          </label>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <label>
          <textarea [disabled]="uploading" matInput placeholder="Collection quick description..."
                    formControlName="description"></textarea>
          </label>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-slide-toggle [disabled]="uploading" formControlName="ispublic"
                          matTooltip="Non public collections are only accessible for logged in users.
                          Public collections should not contain private images !"
                          color="warn"><b>Public</b></mat-slide-toggle>
      </div>
    </div>
    <div class="row justify-content-center">
      <img *ngIf="selectedThumbnail && !thumbnailSelector"
           [src]="selectedThumbnail | secure | async"
           title="Collection thumbnail"
           alt="collection thumbnail"
           class="thumbnail">
      <div *ngIf="thumbnailSelector" class="thumb-selector-wrapper">
        <app-thum-list (selectionConfirmed)="thumbnailSelected($event)" [collectionAddMode]="true"></app-thum-list>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button mat-button [disabled]="uploading" (click)="enableThumbnailSelector()" *ngIf="!thumbnailSelector"
                class="picportos-button">Select a cover image
        </button>
      </div>
    </div>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-button *ngIf="!thumbnailSelector"
          (click)="onSubmit()" [disabled]="uploading"
          class="picportos-button-accent"
          style="margin-top: 30px">Add
  </button>
</mat-card-actions>
