<mat-card appearance="outlined">
  <div class="admin-form hide-scrollbar">
    <div class="row m-auto g-0">
      <div class="col-auto">
        <h5><i>Homepage</i></h5>
      </div>
    </div>
    <form [formGroup]="adminConfigForm">
      <div class="row m-auto g-0 pb-3">
        <div class="col-auto pe-3 ps-3">
          <span class="title-span"><b>Main Title</b></span><span>{{adminConfig?.mainTitle}}<br></span>
          <span class="title-span"><b>Main Subtitle</b></span><span>{{adminConfig?.subTitle}}</span>
        </div>
      </div>
      <div class="row g-0 m-auto">
        <div class="col-md-12">
          <div class="row m-auto">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="admin-form-field">
                <mat-label>New main title</mat-label>
                <textarea matInput formControlName="newMainTitle" (change)="mainTitleChanged()"
                          [disabled]="uploading"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>New sub title</mat-label>
                <textarea matInput formControlName="newSubTitle" (change)="subTitleChanged()"
                          [disabled]="uploading"></textarea>
              </mat-form-field>
            </div>
          </div>
          <hr>
          <div class="row m-auto g-0">
            <div class="col-auto">
              <h5><i>Author(s) & camera(s) configuration</i></h5>
            </div>
          </div>
          <div class="row m-auto">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="admin-form-field">
                <mat-label>New camera</mat-label>
                <input matInput formControlName="newCamera" [readonly]="uploading || newCameraAdded"
                       placeholder="New Camera"
                       (keyup.enter)="addCamera()">
              </mat-form-field>
              <button mat-icon-button matTooltip="Add new camera" class="mb-1" (click)="addCamera()"
                      *ngIf="!newCameraAdded">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button disabled class="mb-1" *ngIf="newCameraAdded">
                <mat-icon>done</mat-icon>
              </button>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Cameras list preview</mat-label>
                <mat-select [disabled]="uploading">
                  <mat-option *ngFor="let option of adminConfig?.cameras">
                    <button mat-icon-button matTooltip="Remove"
                            (click)="removeCamera(option)">
                      <mat-icon>clear</mat-icon>
                    </button>
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row m-auto">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="admin-form-field">
                <mat-label>New author</mat-label>
                <input matInput formControlName="newAuthor" [readonly]="uploading || newAuthorAdded"
                       placeholder="New Author"
                       (keyup.enter)="addAuthor()">
              </mat-form-field>
              <button mat-icon-button matTooltip="Add new author" class="mb-1" (click)="addAuthor()"
                      *ngIf="!newAuthorAdded">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button disabled class="mb-1" *ngIf="newAuthorAdded">
                <mat-icon>done</mat-icon>
              </button>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Authors list preview</mat-label>
                <mat-select [disabled]="uploading">
                  <mat-option *ngFor="let option of adminConfig?.authors">
                    <button mat-icon-button matTooltip="Remove"
                            (click)="removeAuthor(option)">
                      <mat-icon>clear</mat-icon>
                    </button>
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr *ngIf="!isMobileScreen">
    <div class="row m-auto g-0" *ngIf="!isMobileScreen">
      <div class="col-auto">
        <h5><i>Guides</i></h5>
      </div>
    </div>
    <div class="row g-0 m-auto justify-content-center" *ngIf="!isMobileScreen">
      <div class="col-auto ps-3 pe-3">
        <app-guides></app-guides>
      </div>
    </div>
  </div>
  <div class="row m-auto justify-content-end">
    <div class="col-auto mt-2 mb-2">
      <button mat-raised-button [disabled]="uploading" class="picportos-button" (click)="onSubmit()">Save changes
      </button>
    </div>
  </div>
</mat-card>
