
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  background: #8397a8;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}

.admin-form {
  overflow-y: auto;
  height: calc(100% - 44px);
}

.admin-form-field {
  width: calc(100% - 40px);
}

.title-span {
  width: 120px;
  display: inline-block;
}
