<app-nav-bar></app-nav-bar>
<div *ngIf="isMobileScreen">
  <div class="background"></div>
  <button mat-raised-button class="picportos-button-warn delete-button"
          (click)="applyChanges()"
          *ngIf="applyIsEnabled()"
          matTooltip="Non recoverable !">
    Delete elements
  </button>
  <div class="main-wrapper-scrollable">
    <div class="container-fluid">

      <div class="row pt-2 mb-5">
        <div class="col-md-10 align-self-center">
          <h1>Creator dashboard</h1>
        </div>
        <div class="col-md-2 align-self-center">
          <button mat-button class="picportos-button" (click)="this.getData()"
                  matTooltip="Abort changes and refresh data">
            <mat-icon>sync</mat-icon>
          </button>
        </div>
      </div>
      <div class="row col-md-12">
        <p><b>This dashboard brings all the Rafalis management functionnalities together.</b></p>
        <p>The
          <mat-icon class="text-icon">settings_applications</mat-icon>
          <b>Main configuration</b> panel allows you to modify the main page title and subtitle, as well as
          add new author(s) or camera(s) to assign to your images. It also provides useful guides on more advanced
          functionnalities. The
          <mat-icon class="text-icon">image</mat-icon>
          <b>Images</b> panel lets you upload or delete images in the rafalis database and edit their
          attributes.
          Images can also be rotated when needed (see the guide in the main configuration panel).
          The
          <mat-icon class="text-icon">map</mat-icon>
          <b>Map</b> panel allows
          you to pin images on specific locations, upload or delete a custom map,
          or modify a map. The
          <mat-icon class="text-icon">photo_library</mat-icon>
          <b>Collections</b> panel allows you to create,
          delete or modify collections.
        </p>
        <p><b>Deleted items will be forever lost.</b></p>
      </div>
      <hr class="admin-rule">
      <div class="row col-md-12">
        <h2>
          <mat-icon>menu_book</mat-icon>
          Guides
        </h2>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-11">
          <app-guides></app-guides>
        </div>
      </div>
      <hr class="admin-rule">
      <div class="row management-row">
        <div class="col-md-12">
          <h2>
            <mat-icon>settings_applications</mat-icon>
            Main configuration
          </h2>
        </div>
      </div>

      <app-adminconfig style="margin: 5px"></app-adminconfig>

      <div class="row management-row">
        <div class="col-md-8">
          <h2>
            <mat-icon>image</mat-icon>
            Images
          </h2>
        </div>
        <div class="col-md-4">
          <button mat-raised-button class="picportos-button-accent add-button"
                  matTooltip="Add a new image to the database"
                  (click)="openAddDialog()"
                  *ngIf="authService.isAdmin">
            <mat-icon>upload</mat-icon>
            Image
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h6>Management</h6>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 table-container">
          <table mat-table [dataSource]="imageDataSource" class="mat-elevation-z8 image-table" matSort
                 matSortActive="id" matSortDirection="desc"
                 #sortImages="matSort">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
              <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="preview">
              <th mat-header-cell *matHeaderCellDef>Preview</th>
              <td mat-cell *matCellDef="let element">
                <img [lazyLoad]="this.imageService.getImageURL(element.id, 3)" alt="preview"
                     style="width: 50px; height: 50px; object-fit: cover">
              </td>
            </ng-container>

            <ng-container matColumnDef="datetime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let element">{{element.datetime}}</td>
            </ng-container>

            <ng-container matColumnDef="homepage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="When on, the image can be randomly
                selected to be displayed in the home page">Homepage
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="primary" (change)="onToggleChangeImage($event, element.id, 2)"
                                  [checked]="element.show_in_home"
                                  [disabled]="updatingFieldImage">
                </mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="ispublic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="warn" (change)="onToggleChangeImage($event, element.id, 0)"
                                  [checked]="element.ispublic"
                                  [disabled]="updatingFieldImage">
                </mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="hide_in_browse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Hidden images will be available
                  to use in collections, but will not show in the browser page">Hidden
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="primary" (change)="onToggleChangeImage($event, element.id, 1)"
                                  [checked]="!element.show_in_browse"
                                  [disabled]="updatingFieldImage">
                </mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #f22;"
                        (click)="this.imagesToDelete.add(element)"
                        matTooltip="Mark for deletion"
                        *ngIf="!this.imagesToDelete.has(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab style="background: #ffffff; color: #00214a;"
                        (click)="this.imagesToDelete.delete(element)"
                        matTooltip="Unmark for deletion"
                        *ngIf="this.imagesToDelete.has(element)">
                  <mat-icon>restart_alt</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="open">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #00214a;" (click)="openImage(element.id)"
                        matTooltip="Open in new tab" class="ms-2">
                  <mat-icon>open_in_new</mat-icon>
                </button>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="imageDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: imageDisplayedColumns;"
                [class.is-deleted]="!!imagesToDelete.has(row)" class="table-row"></tr>
          </table>
        </div>
      </div>
      <app-rotator style="margin: 5px"></app-rotator>

      <hr class="admin-rule mt-3">

      <div class="row management-row">
        <div class="col-md-8 align-self-center">
          <h2>
            <mat-icon>photo_library</mat-icon>
            Collections
          </h2>
        </div>
        <div class="col-md-4 align-self-center">
          <button mat-raised-button class="picportos-button-accent add-button"
                  (click)="openNewCollectionDialog()"
                  *ngIf="authService.isAdmin">
            <mat-icon>add</mat-icon>
            Collection
          </button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 table-container">
          <table mat-table [dataSource]="collectionDataSource"
                 class="mat-elevation-z8 image-table"
                 matSort #sortCollections="matSort">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="thumbnail">
              <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
              <td mat-cell *matCellDef="let element">
                <img [lazyLoad]="this.imageService.getImageURL(element.thumbnailid, 3)"
                     alt="preview"
                     style="width: 50px; height: 50px; object-fit: cover">
              </td>
            </ng-container>

            <ng-container matColumnDef="ispublic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="warn" (change)="onToggleChangeCollection($event, element.id)"
                                  [checked]="element.ispublic"
                                  [disabled]="updatingFieldCollection">
                </mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #f22;"
                        (click)="this.collectionsToDelete.add(element)"
                        matTooltip="Mark for deletion"
                        *ngIf="!this.collectionsToDelete.has(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab style="background: #ffffff; color: #00214a;"
                        (click)="this.collectionsToDelete.delete(element)"
                        matTooltip="Unmark for deletion"
                        *ngIf="this.collectionsToDelete.has(element)">
                  <mat-icon>restart_alt</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="open">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #00214a;" (click)="openCollection(element.id)"
                        matTooltip="Open in new tab" class="ms-2">
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="collectionDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: collectionDisplayedColumns;"
                [class.is-deleted]="!!collectionsToDelete.has(row)" class="table-row"></tr>
          </table>
        </div>
      </div>

      <hr class="admin-rule mt-3">

      <div class="row management-row">
        <div class="col-md-8">
          <h2>
            <mat-icon>map</mat-icon>
            Maps
          </h2>
        </div>
        <div class="col-md-4">
          <button mat-raised-button class="picportos-button-accent add-button"
                  (click)="openNewMapDialog()"
                  *ngIf="authService.isAdmin">
            <mat-icon>add</mat-icon>
            Map
          </button>
        </div>
      </div>

      <app-admin-map (mapDeletedEmitted)="onMapDelete($event)" #mapAdminComponent></app-admin-map>

    </div>
    <div class="row">
      <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
    </div>
  </div>

</div>
<div *ngIf="!isMobileScreen">
  <div class="background"></div>
  <button mat-raised-button class="picportos-button-warn delete-button" (click)="applyChanges()"
          *ngIf="applyIsEnabled()"
          matTooltip="Non recoverable !">
    Delete elements
  </button>
  <div class="container-fluid">
    <div class="row justify-content-center admin-header">
      <div class="col-md-11">
        <div class="row w-100 pt-2 mb-2">
          <div class="col-md-10">
            <h1>Creator dashboard</h1>
          </div>
          <div class="ms-auto col-md-1">
            <button mat-button class="picportos-button" (click)="this.getData()"
                    matTooltip="Abort changes and refresh data">
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </div>
        <div class="row w-100 col-md-10">
          <p><b>This dashboard brings all the rafalis management functionnalities together.</b></p>
          <p>The
            <mat-icon class="text-icon">settings_applications</mat-icon>
            <b>Main configuration</b> panel allows you to modify the main page title and subtitle, as well as
            add new author(s) or camera(s) to assign to your images. It also provides useful guides on more advanced
            functionnalities. The
            <mat-icon class="text-icon">image</mat-icon>
            <b>Images</b> panel lets you upload or delete images in the rafalis database and edit their
            attributes.
            Images can also be rotated when needed (see the guide in the main configuration panel).
            The
            <mat-icon class="text-icon">map</mat-icon>
            <b>Map</b> panel allows
            you to pin images on specific locations, upload or delete a custom map,
            or modify a map. The
            <mat-icon class="text-icon">photo_library</mat-icon>
            <b>Collections</b> panel allows you to create,
            delete or modify collections.
          </p>
          <p><b>Deleted items will be forever lost.</b></p>
        </div>
      </div>
    </div>
    <div class="row admin-wrapper">
      <div class="row management-row">
        <div class="col-md-6">
          <h2>
            <mat-icon>settings_applications</mat-icon>
            Main configuration
          </h2>
        </div>
        <div class="col-auto me-auto">
          <h2>
            <mat-icon>image</mat-icon>
            Images
          </h2>
        </div>
        <div class="col-auto">
          <button mat-raised-button class="picportos-button-accent add-button"
                  matTooltip="Add a new image to the database"
                  (click)="openAddDialog()"
                  *ngIf="authService.isAdmin">
            <mat-icon>upload</mat-icon>
            Image
          </button>
        </div>
      </div>
      <div class="row w-100" style="height: 70vh;">
        <div class="col-md-6 mh-100">
          <app-adminconfig></app-adminconfig>
        </div>
        <div class="col-md-6 mh-100">
          <div class="row justify-content-center" style="height: calc(100% - 175px);">
            <div class="col-md-12 table-container">
              <table mat-table [dataSource]="imageDataSource" class="mat-elevation-z8 image-table" matSort
                     #sortImages="matSort">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                  <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                  <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>

                <ng-container matColumnDef="preview">
                  <th mat-header-cell *matHeaderCellDef>Preview</th>
                  <td mat-cell *matCellDef="let element">
                    <img [lazyLoad]="this.imageService.getImageURL(element.id, 3)" alt="preview"
                         style="width: 50px; height: 50px; object-fit: cover">
                  </td>
                </ng-container>

                <ng-container matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                  <td mat-cell *matCellDef="let element">{{element.datetime}}</td>
                </ng-container>

                <ng-container matColumnDef="homepage">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="When on, the image can be randomly
                selected to be displayed in the home page">Homepage
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="primary" (change)="onToggleChangeImage($event, element.id, 2)"
                                      [checked]="element.show_in_home"
                                      [disabled]="updatingFieldImage">
                    </mat-slide-toggle>
                  </td>
                </ng-container>

                <ng-container matColumnDef="ispublic">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="warn" (change)="onToggleChangeImage($event, element.id, 0)"
                                      [checked]="element.ispublic"
                                      [disabled]="updatingFieldImage">
                    </mat-slide-toggle>
                  </td>
                </ng-container>

                <ng-container matColumnDef="hide_in_browse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Hidden images will be available
                  to use in collections, but will not show in the browser page">Hidden
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="primary" (change)="onToggleChangeImage($event, element.id, 1)"
                                      [checked]="!element.show_in_browse"
                                      [disabled]="updatingFieldImage">
                    </mat-slide-toggle>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab style="background: #ffffff; color: #f22;"
                            (click)="this.imagesToDelete.add(element)"
                            matTooltip="Mark for deletion"
                            *ngIf="!this.imagesToDelete.has(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab style="background: #ffffff; color: #00214a;"
                            (click)="this.imagesToDelete.delete(element)"
                            matTooltip="Unmark for deletion"
                            *ngIf="this.imagesToDelete.has(element)">
                      <mat-icon>restart_alt</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="open">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab style="background: #ffffff; color: #00214a;" (click)="openImage(element.id)"
                            matTooltip="Open in new tab" class="ms-2">
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="imageDisplayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: imageDisplayedColumns;"
                    [class.is-deleted]="!!imagesToDelete.has(row)" class="table-row"></tr>
              </table>
            </div>
          </div>
          <div class="row" style="min-height: 170px; margin-top: 5px">
            <div class="col-md-12">
              <app-rotator></app-rotator>
            </div>
          </div>
        </div>
      </div>

      <div class="row management-row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h2>
                <mat-icon>map</mat-icon>
                Maps
              </h2>
            </div>
            <div class="col-md-auto ms-auto">
              <button mat-raised-button class="picportos-button-accent add-button"
                      (click)="openNewMapDialog()"
                      matTooltip="Upload a custom map">
                <mat-icon>add</mat-icon>
                Map
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-auto me-auto">
              <h2>
                <mat-icon>photo_library</mat-icon>
                Collections
              </h2>
            </div>
            <div class="col-md-auto" style="text-align: left">
              <button mat-raised-button class="picportos-button-accent add-button"
                      (click)="openNewCollectionDialog()"
                      matTooltip="Create a new collection">
                <mat-icon>edit</mat-icon>
                Collection
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center w-100" style="height: 50vh;">
        <div class="col-md-6 mh-100">
          <app-admin-map (mapDeletedEmitted)="onMapDelete($event)" #mapAdminComponent></app-admin-map>
        </div>
        <div class="col-md-6 table-container mh-100">
          <table mat-table [dataSource]="collectionDataSource"
                 class="mat-elevation-z8 image-table"
                 matSort #sortCollections="matSort">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="thumbnail">
              <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
              <td mat-cell *matCellDef="let element">
                <img [lazyLoad]="this.imageService.getImageURL(element.thumbnailid, 3)"
                     alt="preview"
                     style="width: 50px; height: 50px; object-fit: cover">
              </td>
            </ng-container>

            <ng-container matColumnDef="ispublic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Public</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="warn" (change)="onToggleChangeCollection($event, element.id)"
                                  [checked]="element.ispublic"
                                  [disabled]="updatingFieldCollection">
                </mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #f22;"
                        (click)="this.collectionsToDelete.add(element)"
                        matTooltip="Mark for deletion"
                        *ngIf="!this.collectionsToDelete.has(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab style="background: #ffffff; color: #00214a;"
                        (click)="this.collectionsToDelete.delete(element)"
                        matTooltip="Unmark for deletion"
                        *ngIf="this.collectionsToDelete.has(element)">
                  <mat-icon>restart_alt</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="open">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab style="background: #ffffff; color: #00214a;" (click)="openCollection(element.id)"
                        matTooltip="Open in new tab" class="ms-2">
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="collectionDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: collectionDisplayedColumns;"
                [class.is-deleted]="!!collectionsToDelete.has(row)" class="table-row"></tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
  </div>
</div>
