.image-table {
  width: 100%;
  //height: 100%;
}

.table-container {
  max-height: 100%;
  overflow: auto;
}

.mat-column-description {
  width: 25% !important;
}

.mat-column-id {
  width: 100px !important;
}

.add-button {
  width: 130px;
}

.map-mat-select {
  color: white;
  margin-top: 15px;
}

.management-row {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}

.admin-rule {
  background: #ffffff;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5%;
  width: 60%;
}

.admin-wrapper {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.admin-header {
  color: white;
}

h2 > mat-icon {
  margin-right: 10px;
}

.mat-mdc-table .mat-mdc-table-sticky {
  background: #8397a8;
}

.is-deleted {
  background: rgba(202, 18, 18, 0.45);
}

.delete-button {
  position: fixed;
  right: 30px;
  top: 67px;
  z-index: 99;
}

.text-icon {
  vertical-align: bottom;
}

@media (max-width: 1024px) {
  .table-container {
    max-height: 60vh;
  }
}
