.delete-button {
  height: 45px;
  margin: auto;
  width: 45px;
}

.collection-image-content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.open-button {
  height: 40px;
  margin: auto auto -45px;
  position: relative;
  text-align: center;
  top: -40px;
  width: 40px;
}
