<app-image
  *ngIf="canShowImage"
  (click)="toggleZoom(this.elementId)"
  [classes]="imageClass"
  [thumbnail]="editable || mobile"
  [id]="'me' + this.id"
  [alt]="this.description?.title"
  [imageID]="this.id"
  class="collection-image-content-container"></app-image>
<div class="open-button" *ngIf="canShowImage">
  <button mat-icon-button (click)="openImage()"
          *ngIf="!editable"
          matTooltip="Open in new tab">
    <mat-icon>open_in_new</mat-icon>
  </button>
</div>
<div class="delete-button" *ngIf="editable">
  <button mat-mini-fab
          style="background-color: rgba(0, 0, 0, 0.11); color: #f3e600;"
          (click)="onDelete()"
          matTooltip="Remove {{description?.title}}">
    <mat-icon>cancel</mat-icon>
  </button>
</div>

<div *ngIf="!canShowImage" class="container-fluid imgAndDescriptionWrap">
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="bigicon-not-found"><mat-icon style="font-size: 350px" fontIcon="hide_image" class="w-auto h-auto"></mat-icon></span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <p class="text-center font-monospace">&#60; image unavailable&#62; </p>
    </div>
  </div>
</div>
