<mat-card-title>{{editMode ? '' : 'Add a custom map'}}</mat-card-title>
<mat-card-content>
  <div class="container-fluid">
    <form [formGroup]="addMapForm">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" [appearance]="readOnly ? 'fill' : 'outline'"
                          [matTooltip]="readOnly ? 'You cannot change the system\'s map name' : ''">
            <mat-label>Name</mat-label>
            <label class="w-100">
              <textarea [readonly]="uploading || readOnly" matInput placeholder="Map title..." formControlName="name">
              </textarea>
            </label>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-12" *ngIf="!readOnly">
          <input type="file" class="file-input-hidden" [disabled]="readOnly" (change)="onFileSelected($event)"
                 accept="application/*json"
                 #fileUpload>
          <div class="file-input">
            <button mat-raised-button [disabled]="uploading" color="primary" (click)="fileUpload.click()" class="w-100"
                    style="white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
              <mat-icon>attach_file</mat-icon>
              {{editMode ? 'Overwrite with geojson' : '(Optional) Set custom geojson'}}
            </button>
            <div style="margin: 20px" *ngIf="file"><p>Selected : <b>{{file.name}}</b></p></div>
          </div>
        </div>
      </div>
      <div class="row mt-sm-3">
        <div class="col-md-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Associate with collection</mat-label>
            <mat-select [disabled]="uploading" formControlName="associatedCollection">
              <mat-option [value]="-1">None</mat-option>
              <mat-option *ngFor="let collection of collections"
                          [value]="collection.id">{{collection.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row g-0 mt-3">
      <div class="col-auto">
        <button mat-raised-button (click)="submitNewMap()" [disabled]="uploading || !addMapForm.valid"
                *ngIf="!editMode"
                class="picportos-button-accent upload-button">Upload
        </button>
        <button mat-raised-button (click)="modifyMap()" [disabled]="uploading || !addMapForm.valid" *ngIf="editMode"
                matTooltip="Send your changes to the server"
                class="picportos-button-accent upload-button">Update
        </button>
      </div>
      <div class="ms-auto col-auto">
        <button mat-raised-button [disabled]="uploading || readOnly" class="picportos-button-warn" (click)="deleteMap()"
                [matTooltip]="readOnly ? 'You can\'t delete the system map.' : 'Map will be deleted once changes are applied by clicking on Apply Changes above.'"
                *ngIf="editMode">
          Mark for deletion
        </button>
      </div>
    </div>
  </div>

</mat-card-content>
<mat-progress-bar class="my-progress-bar" mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
