.filter-case {
  background: #3767a2;
  border-radius: 7px;
  margin-top: 15px;
}

.help-button {
  background-color: rgba(0, 33, 74, 0);
  color: white;
}

.menutrigger {
  width: 275px;
}

/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-group {
  margin-right: 20px;
}

/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
.mat-radio-label {
  margin: auto;
}

.tags-chip-list {
  max-height: 180px;
  overflow-y: scroll;
  white-space: nowrap;
}

.custom-form-field {
  width: 95%;
  height: 63px;
}

.color-button {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.mat-panel-title-text {
  justify-content: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.circle {
  transition: all 0.1s;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

mat-expansion-panel {
  background-color: #3767a2;
  //background: rgb(55, 103, 162) linear-gradient(to right bottom, #576b84 0%, #50647d 100%) no-repeat scroll 100% center;
  color: white;
}

mat-panel-title {
  color: white;
}

.hide-sort {
  visibility: hidden;
}

.sort-button-active {
  background-color: #22ecb3;
  color: #000000;
}
