<div class="row justify-content-center mt-3">
  <div class="col-auto" *ngIf="!panelOpenState && !mobile">
    <button mat-icon-button class="help-button vertical-center"
            matTooltip="Press '/' to quick search. Single click on an image to open a preview. Long click on an image to open the viewer.">
      <mat-icon>lightbulb</mat-icon>
    </button>
  </div>
  <div class="col-md-8">
    <mat-accordion>
      <mat-expansion-panel (afterExpand)="focusSearch()" [(expanded)]="panelOpenState"
                           class="bgcolor">
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="!panelOpenState">
            <div class="mat-panel-title-text">
              {{getCurrentActiveFiltersStatus()}}
            </div>
            <div class="ms-auto" *ngIf="filters.color !== '' || filters.keywords !== '' || filters.publicOnly">
              <button mat-raised-button (click)="resetFilters($event)" class="picportos-button ms-auto">
                Reset
              </button>
            </div>
          </mat-panel-title>
          <mat-form-field appearance="outline" class="custom-form-field" *ngIf="panelOpenState"
                          (click)="$event.stopPropagation()">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="filters.keywords" (input)="searchUpdatedEmitter.next(filters)"
                   (keydown.space)="$event.stopPropagation()"
                   (click)="$event.stopPropagation()" #mainSearch>
          </mat-form-field>
        </mat-expansion-panel-header>
        <div class="container-fluid p-0">
          <div class="row ms-2 me-2 mt-4 tags-chip-list">
            <mat-chip-list style="width: 95%">
              <mat-chip *ngFor="let tag of availableTags"
                        [color]="clickedTag === tag ? 'primary' : 'accent'"
                        [selected]="clickedTag === tag"
                        (click)="onTagClick(tag)">{{tag}}</mat-chip>
            </mat-chip-list>
          </div>
          <hr>
          <div class="row ps-2 g-0">
            <div class="col-auto me-auto">
              <i class="ms-1 mt-auto mb-auto me-5" *ngIf="!mobile">By color</i>
              <svg width="32" height="36" *ngFor="let color of colorFilters" matRipple class="me-auto ms-auto">
                <circle cx="16" cy="18"
                        [attr.fill]="color"
                        (click)="onColorFilterClick(color)"
                        [attr.stroke]="'#000000'"
                        style="cursor: pointer" [matTooltip]="color"
                        [attr.r]="filters.color === color ? 15 : 12"
                        [attr.stroke-width]="filters.color === color ? 2 : 1"
                        class="circle">
                </circle>
              </svg>
            </div>
            <div class="col-auto me-2 d-flex">
              <mat-slide-toggle [(ngModel)]="filters.publicOnly"
                                *ngIf="auth.isAdmin"
                                color="warn"
                                labelPosition="before"
                                class="mt-auto mb-auto"
                                (change)="this.filtersService.publicToggleEmitter.emit($event.checked)"
                                matTooltip="Show only public images">
                <i class="ms-1">Show only public images</i>
              </mat-slide-toggle>
            </div>
          </div>
          <hr>
          <div class="row ps-2 pt-2 g-0">
            <div class="col-auto" style="display: flex; align-items: center">
              <i class="ms-1 me-4" [ngStyle]="mobile ? {} : {width: '80px'}">Sort by</i>
            </div>
            <div class="col-auto">
              <button mat-button
                      matTooltip="Sort by date of upload"
                      [class]="sortby.recent ? 'sort-button-active' : 'picportos-button'"
                      [value]="'recent'"
                      (click)="onRecentClick()">
                Recent
                <mat-icon *ngIf="sortby.recent">{{sortby.ascending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
                <mat-icon *ngIf="!sortby.recent">swap_vert</mat-icon>
              </button>
            </div>
            <div class="col-auto">
              <button mat-button
                      class="ms-2"
                      matTooltip="Sort by image titles"
                      [class]="sortby.title ? 'sort-button-active' : 'picportos-button'" [value]="'title'"
                      (click)="onTitleClick()">
                Title
                <mat-icon *ngIf="sortby.title">{{sortby.ascending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
                <mat-icon *ngIf="!sortby.title">swap_vert</mat-icon>
              </button>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button mat-raised-button (click)="resetFilters($event)" class="picportos-button ms-2">Reset filters
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-auto" [ngClass]="mobile ? 'mt-2' : ''" *ngIf="!mobile || !panelOpenState">
    <button mat-button
            [class]="{'vertical-center': true,
            'sort-button-active': sortby.recent,
            'picportos-button': !sortby.recent,
            'hide-sort': panelOpenState}"
            [value]="'recent'"
            matTooltip="Sort by date of upload"
            (click)="onRecentClick()">
      Recent
      <mat-icon *ngIf="sortby.recent">{{sortby.ascending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
      <mat-icon *ngIf="!sortby.recent">swap_vert</mat-icon>
    </button>
  </div>
  <div class="col-auto" [ngClass]="mobile ? 'mt-2' : ''" *ngIf="!mobile || !panelOpenState">
    <button mat-button
            [class]="{'vertical-center': true,
            'sort-button-active': sortby.title,
            'picportos-button': !sortby.title,
            'hide-sort': panelOpenState}"
            [value]="'title'"
            matTooltip="Sort by image titles"
            (click)="onTitleClick()">
      Title
      <mat-icon *ngIf="sortby.title">{{sortby.ascending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
      <mat-icon *ngIf="!sortby.title">swap_vert</mat-icon>
    </button>
  </div>
</div>
