<div class="background"></div>
<app-nav-bar></app-nav-bar>
<div class="main-wrapper-scrollable">
  <div class="container-fluid">
    <div class="row justify-content-center mt-4 mb-5">
      <img src="assets/logo-V2.png" title="Rafalis Logo" alt="rafalis logo" style="width: 100px;">
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <p class="text-center">Client version: <span class="fw-bold font-monospace"> {{ client_release_version }}</span> - {{client_release_date}}</p>
        <p class="text-center">Server version: <span class="fw-bold font-monospace"> {{ server_release_version }}</span> - {{server_release_date}}</p>
        <p>This application was designed and developed in order to properly assemble, organise and present
          my pictures.</p>
        <p>If you encounter any bugs, or have any ideas of new functionalities for this project,
          please feel free to
          contact me at <b>mathurin.chritin@gmail.com</b>, it will be very useful for me to gather feedback on
          this project.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>The open source code, the wiki and lots of other information on this project
          can be found here :</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3" (click)="openGitLab()">
      <img class="logo m-auto" src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-white-rgb.png"
           style="width: 200px"
           matTooltip="Open gitlab repository"
           alt="gitlab logo">
    </div>
    <div class="row justify-content-center">
      <button mat-raised-button
              (click)="openGitLab()"
              class="picportos-button-accent"
              matTooltip="Open gitlab repository"
              style="width: 200px">
        <mat-icon style="vertical-align: middle; margin-right: 10px">code</mat-icon>
        Rafalis project
        <mat-icon style="vertical-align: middle; margin-left: 10px">code</mat-icon>
      </button>
    </div>
    <div class="row justify-content-center mt-4 mb-2">
      <img class="m-auto" src="https://angular.io/assets/images/logos/angular/angular.png"
           title="Angular"
           style="width: 100px"
           alt="angular logo">
      <img class="m-auto" src="https://quarkus.io/assets/images/quarkus_logo_horizontal_rgb_reverse.svg"
           title="Quarkus Framework logo"
           style="width: 200px"
           alt="quarkus logo">
      <img class="m-auto"
           src="https://www.docker.com/wp-content/uploads/2022/03/horizontal-logo-monochromatic-white.png"
           title="Docker"
           style="width: 200px"
           alt="Docker logo">
      <img class="m-auto"
           src="https://wiki.postgresql.org/images/3/30/PostgreSQL_logo.3colors.120x120.png"
           title="PostgreSQL"
           style="width: 100px"
           alt="Postgresql">
      <img class="m-auto"
           src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Grafana_logo.svg"
           title="Grafana"
           style="width: 100px"
           alt="Grafana logo">
    </div>
  </div>
</div>
<div class="credits-scrollable" style="color: white">Rafalis &#10; © 2022 Mathurin Chritin</div>
