.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo:hover {
  cursor: pointer;
}

.credits-scrollable {
  height: 2%;
  padding-top: 0;
  margin-bottom: 15px;
  text-decoration: none;
}

.main-wrapper-scrollable {
  min-height: auto;
}
