@import '~@angular/material/theming';
@import 'colors';

@include mat-core();

$custom-primary: mat-palette((50: $app-primary,
  100: $app-primary,
  200: $app-primary,
  300: $app-primary,
  400: $app-primary,
  500: $app-primary,
  600: $app-primary,
  700: $app-primary,
  800: $app-primary,
  900: $app-primary,
  A100: $app-primary,
  A200: $app-primary,
  A400: $app-primary,
  A700: $app-primary,
  contrast: (50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )));

$custom-accent: $custom-primary;
$custom-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);
