.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #00214a;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #00214a;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #00214a;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #00214a;
}

.mapboxgl-popup-close-button {
  /*display: none;*/
  color: white;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Roboto', sans-serif;
  width: 200px;
  box-shadow: 9px 9px 11px rgb(6, 6, 6);
  margin: 10px;
  padding: 10px;
  background: #00214a;
  color: white;
}

.mapboxgl-popup-content img {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.mapboxgl-popup-content > hr {
  background: white;
  height: 1px;
}

.mapboxgl-popup-content > p {
  font-size: 11px;
  word-wrap: break-word;
  margin-bottom: 1px;
}

.mapboxgl-popup-content > h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mapboxgl-popup-content > .map-image-wrapper {
  max-width: 100%;
  height: 150px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide-popup-content > .mapboxgl-popup-content {
  visibility: hidden;
}

