<div class="background"></div>
<div class="container-fluid page-container pt-lg-5">
  <div class="row" style="margin-top: 5%">
    <img src="assets/logo-V2.png" alt="Rafalis Logo" class="main-icon" (click)="goToHome()">
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <mat-card appearance="outlined" style="background: #8397a8;">
        <mat-card-title style="margin-left: 12px">Welcome</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="container-fluid">
            <div class="row">
              <mat-form-field class="col-md">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username" (focusin)="showCredits = false">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-md">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password"
                       (focusin)="showCredits = false">
              </mat-form-field>
            </div>
            <div class="row justify-content-end">
              <div class="col-md-auto">
                <button mat-raised-button class="picportos-button-accent" type="submit"
                        [disabled]="loading">
                  Login
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-1 text-center">
      <h5 style="color: white">or</h5>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-4 text-center">
      <button mat-raised-button matTooltip="Only public content will be accessible." (click)="onBrowseAnonymous()"
              class="picportos-button">
        <mat-icon *ngIf="returnUrl !== ''">arrow_left</mat-icon>
        Browse anonymously
      </button>
    </div>
  </div>
</div>

<div class="credits" *ngIf="showCredits || !mobileService.isMobileScreen"> Rafalis &#10; © 2022</div>
