.main-icon {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.main-icon:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .main-icon {
    width: 150px;
  }
}
