<div class="primary-navbar-placeholder"></div>
<mat-toolbar class="primary-bar mat-elevation-z3" [ngClass]="router.url.includes('img?') ? 'transparent' : ''">
  <span class="mobile">
    <button mat-icon-button class="nav-bar-button" [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <img src="assets/logo-V2.png" alt="Rafalis logo" class="main-logo" routerLink="'/'">
  <span class="desktop">
    <button *ngFor="let menuItem of menuItems"
            [ngClass]="{'current-active': activatedItem === menuItem.key}"
            mat-button [routerLink]="menuItem.routerLink">{{menuItem.name}}</button>
  </span>

  <span style="flex: 1 1 auto"></span>

  <span class="desktop">
      <button mat-raised-button class="picportos-button-accent add-button"
              routerLink="/admin"
              *ngIf="authService.isAdmin"
              [disabled]="isOnCreatorPage">
        <mat-icon>dashboard_customize</mat-icon>
        Dashboard
      </button>
  </span>
  <span class="mobile">
      <button mat-icon-button class="picportos-button-accent"
              routerLink="/admin"
              *ngIf="authService.isAdmin"
              [disabled]="isOnCreatorPage">
        <mat-icon>dashboard_customize</mat-icon>
      </button>
  </span>
  <button mat-icon-button class="nav-bar-button" matTooltip="About Rafalis" routerLink="/about">
    <mat-icon>read_more</mat-icon>
  </button>
  <button mat-icon-button
          class="nav-bar-button"
          [matTooltip]="'Logged in as '+ authService.rank"
          [matMenuTriggerFor]="logoutMenu"
          *ngIf="authService.authenticated">
    <mat-icon>person_outline</mat-icon>
  </button>
  <button mat-icon-button
          class="nav-bar-button"
          matTooltip="Log in"
          (click)="goToLoginPage()"
          *ngIf="!authService.authenticated">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button *ngFor="let menuItem of menuItems" mat-menu-item [routerLink]="menuItem.routerLink">
    <mat-icon>{{menuItem.icon}}</mat-icon>
    {{menuItem.name}}</button>
</mat-menu>
<mat-menu #logoutMenu="matMenu">
  <button mat-menu-item (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
