.primary-navbar-placeholder {
  height: 60px;
}

.nav-bar-button {
  color: #eeeeee;
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 130px;
}

.main-logo {
  margin-left: 10px;
  margin-right: 18px;
}

mat-toolbar {
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  z-index: 99;

  &.primary-bar {
    background-color: #00214a;
    height: 60px;
    top: 0;
    color: white;
  }

  &.transparent {
    background-color: rgba(0,0,0,0);
  }

  img.main-logo {
    cursor: pointer;
    height: 40px;
    margin-right: 16px;
  }

  button[mat-button] {
    margin-right: 16px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .current-active {
    border-bottom: 1.5px solid white;
    border-radius: 0;
  }

  .mat-mdc-button {
    color: #eeeeee;
  }

  .username {
    font-size: 0.8rem;
  }
}


@media (max-width: 500px) {
  .main-logo {
    display: none;
  }
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}
