<div mat-dialog-title>
  <div class="row">
    <div class="col-md-auto">
      <h3>Add a new image to the database</h3>
    </div>
    <div class="col-md-auto ms-auto" *ngIf="!mobile">
      <mat-icon class="tooltip-icon"
                style="vertical-align: middle"
                title="When selecting multiple images, a suffix is added to the title in place of the '#' character.
Hide in browse : The image will not be shown in the /browse page, but you will still be able to add it to a collection.
Show in homepage : When on, the image can be randomly selected to be on the home page. The image then has to be public.
Public : Non public images are only accessible for logged in users.">
        emoji_objects
      </mat-icon>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="container-fluid add-image-dialog">
    <div class="row mt-1 mb-1 justify-content-center" *ngIf="uploading && isMultipleFiles">
      <div class="col-md-auto fw-bold">Uploaded {{multipleFilesCounter}}/{{multipleFiles.length}}</div>
    </div>
    <div class="row mt-1 mb-1 justify-content-center">
      <mat-progress-bar class="w-75" mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
    </div>
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="newImageForm">
          <div class="row">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <label>
                <textarea [readonly]="uploading" matInput formControlName="title" required></textarea>
              </label>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-slide-toggle (change)="toggleDate()" [disabled]="uploading"
                              color="primary">Unknown date
            </mat-slide-toggle>
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [disabled]="uploading" [matDatepicker]="picker" formControlName="datetime">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="uploading" #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Author</mat-label>
              <mat-select formControlName="author" multiple [disabled]="uploading" required
                          matTooltip="{{userService?.userAuthors.length === 0 ? 'No author available ! ' +
                         'Start by adding authors from the admin panel (see Getting Started guide)' : ''}}">
                <mat-option *ngFor="let author of userService?.userAuthors" [value]="author">{{author}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Camera</mat-label>
              <mat-select [disabled]="uploading" formControlName="camera" required
                          matTooltip="{{userService?.userCameras.length === 0 ? 'No camera available ! ' +
                         'Start by adding cameras from the admin panel (see Getting Started guide)' : ''}}">
                <mat-option *ngFor="let camera of userService?.userCameras" [value]="camera">{{camera}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field>
              <mat-label>Description</mat-label>
              <label>
                <textarea [readonly]="uploading" matInput formControlName="description"></textarea>
              </label>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Tags</mat-label>
              <mat-chip-list [disabled]="uploading" #chipList aria-label="Fruit selection" formControlName="tags">
                <mat-chip [disabled]="uploading" *ngFor="let tag of tags" (removed)="remove(tag)">
                  {{tag.name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [disabled]="uploading" placeholder="New tag..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-slide-toggle [disabled]="uploading" formControlName="hide_in_browse" color="primary"><b>Hide in
                browse</b>
              </mat-slide-toggle>
            </div>
            <div class="col-md-6">
              <mat-slide-toggle formControlName="show_in_home" color="primary" [disabled]="uploading"
                                (change)="onHomePageChange($event)">
                <b>Shows in
                  homepage</b></mat-slide-toggle>
            </div>
          </div>
          <div class="row col-md">
            <mat-slide-toggle [disabled]="uploading"
                              color="warn"
                              formControlName="ispublic"><b>Public</b>
            </mat-slide-toggle>
          </div>
        </form>
      </div>
      <div class="col-sm-8 align-content-center">
        <div class="container-fluid">
          <div class="row">
            <input type="file" class="file-input-hidden" (change)="onFileSelected($event)" accept="image/*" multiple
                   #fileUpload>
            <div class="file-input">
              <button mat-raised-button color="primary" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
                Select image(s)
              </button>
            </div>
          </div>
          <div class="row" [ngClass]="mobile ? '' : 'fixed-height'">
            <div class="add-image-thumbnail-wrapper" *ngIf="!isMultipleFiles">
              <img [src]="thumbnail" class="add-image-thumbnail" [ngClass]="mobile ?'' : 'vertical-center'"
                   *ngIf="thumbnail" alt="thumbnail">
            </div>
            <div *ngIf="isMultipleFiles" class="m-4 overflow-auto h-100">
              <p *ngFor="let file of multipleFiles">
                <mat-icon
                  style="vertical-align: middle">{{file.error ? 'error' : (file.uploaded ? 'done' : 'pending')}}</mat-icon>
                {{file.file.name}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="submitForm()" [disabled]="uploading || (!file && multipleFiles.length === 0)"
          class="picportos-button-accent upload-button ms-auto">
    Upload
  </button>
</mat-dialog-actions>
