.file-input-hidden {
  display: none;
}

.file-input {
  margin: auto;
}

mat-form-field, label {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
mat-slide-toggle {
  margin-bottom: 5px;
  margin-top: 5px;
}

.add-image-dialog {
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: hidden;
}

.add-image-thumbnail-wrapper {
  margin: 20px;
  height: 100%;
  max-width: 90%;
}

.vertical-center {
  position: relative;
}

.fixed-height {
  height: calc(60vh - 90px);
}

.tooltip-icon {
  color: yellow;
}

.tooltip-icon:hover {
  color: #00ff15;
  transition: color 1s;
  cursor: pointer;
}

.add-image-thumbnail {
  box-shadow: 0 0 11px rgba(6, 6, 6, .5);
  max-width: 100%;
  max-height: 100%;
}

.upload-button {
  margin: 20px;
}

@media (max-width: 1023px) {
  .add-image-dialog {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (min-width: 1023px) {
  .file-input {
    margin-left: 20px;
  }
}
