<div class="row justify-content-center">
  <div class="col-md-4">
    <button mat-raised-button class="picportos-button-accent w-100" [matMenuTriggerFor]="mainMenu">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item
          (click)="this.request.emit(0)">
    <mat-icon>text_fields</mat-icon>
    Text
  </button>
  <button mat-menu-item
          (click)="this.request.emit(1)">
    <mat-icon>image</mat-icon>
    Single picture
  </button>
  <button mat-menu-item
          (click)="this.request.emit(2)">
    <mat-icon>view_carousel</mat-icon>
    Carousel
  </button>
</mat-menu>
