
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  background: #828282;
  margin: 50px auto;
}

.home-image-container {
  height: calc(100vh - 60px);
  contain: strict;
}

.base-background {
  background: #00214aed;
  height: calc(100vh - 60px);
  position: absolute;
  width: 100vw;
}

.not-shown {
  opacity: 0;
  transition: opacity 1s;
}

.shown {
  opacity: 1;
  transition: opacity 1s;
}

.home-image-zoom {
  transition: all 0.5s;
}

.home-image-zoom-in {
  transform: scale(1.1);
}

.home-image {
  height: calc(100vh - 60px);
  object-fit: cover;
  width: 100vw;
  z-index: -1;
  position: absolute;
}

.home-image::after {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #00081f 100%);
  content: '';
  display: block;
  height: calc(100vh);
  margin-top: calc(-100vh + 60px);
  position: relative;
  width: 100%;
}

h2 {
  font-size: 60px;
}

#down-arrow {
  font-size: 170px;
  position: absolute;
  color: white;
  bottom: 150px;
  left: 0;
  right: 170px;
  margin: auto;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', verdana, arial, sans-serif;
  text-shadow: 1px 1px #000000;
  color: white;
}

.title-wrapper {
  width: 65vw;
  z-index: 100;
  position: relative;
  top: 10vh;
  bottom: 0;
  margin: auto;
  right: 10vw;
}

.text-wrapper {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #00081f 100%);
  margin-top: 30vh;
  padding-bottom: 22vh;
  padding-top: 70vh;
  scroll-behavior: smooth;
}

.presentation-header {
  text-align: center;
  width: 100%;
}

#main-title {
  max-height: 33vh;
  overflow: auto;
}

#sub-title {
  max-height: 25vh;
  overflow: auto;
}

.homepage-button {
  width: 180px;
}

.home-credits {
  background: #00081f;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  height: 25px;
}

app-filters {
  padding-bottom: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  color: white;
  background: #3767a2;
  margin: 10px auto;
}

.tuto-images {
  width: 25vw;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.tuto-images:hover {
  object-fit: cover;
  transition: all 0.4s;
  transform: scale(1.02);
  cursor: pointer;
}


p {
  font-family: 'Open Sans', verdana, arial, sans-serif;
  text-shadow: 1px 1px #000000;
  color: white;
}

@media (max-width: 1023px) {
  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 15px;
  }

  .title-wrapper {
    top: 0;
  }

  .home-image {
    height: calc(100vh - 60px);
    max-width: 100vw;
    object-fit: cover;
  }

  .text-wrapper {
    padding-bottom: 5vh;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    margin: 5px auto;
    width: 100%;
  }
}

.browseButtons {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  min-width: 200px;
}

.homeContent {
  margin-top: 50px;
  text-align: center;
}
