<app-nav-bar [activatedItem]="'home'"></app-nav-bar>
<div class="background"></div>
<div class="container-fluid" #scrollablediv>
  <div class="row home-image-container">
    <img class="home-image w-100" *ngIf="!!randomDescription"
         alt="" [ngClass]="backgroundClass" [draggable]="false" [errorImage]="'assets/loader.svg'"
         [defaultImage]="'assets/loader.svg'"
         [lazyLoad]="imageService.getImageURL(randomDescription.id, 1)">
    <div class="title-wrapper">
      <h2 id="main-title" class="hide-scrollbar">{{appConfigService?.userMainTitle}}</h2>
      <hr style="border: 1px solid white; text-shadow: 2px 2px #000000;" *ngIf="appConfigService?.userMainTitle">
      <h4 id="sub-title" class="hide-scrollbar">{{appConfigService?.userSubTitle}}</h4>
      <div class="row mt-3 mb-3">
        <div class="col-auto mb-1">
          <button mat-raised-button class="picportos-button homepage-button" routerLink="/collections">Open a collection
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="col-auto">
          <button mat-raised-button class="picportos-button homepage-button" routerLink="/maps">Explore by location
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button class="picportos-button-pulse homepage-button" (click)="scrollToBottom()">
            <mat-icon>expand_more</mat-icon>
            Browse
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-2 ps-4 pe-4 justify-content-center" *ngIf="authService.isAdmin && !mobile">
    <div class="col-md-4 m-auto">
      <mat-card appearance="outlined">
        <mat-card-title>Upload a new image</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <img src="assets/homepage/img-adder.png" alt="image adder screenshot" title="Image upload example"
                 class="tuto-images" (click)="openAddImageDialog()">
          </div>
          <p>Upload an image to the Rafalis database.</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row justify-content-center card-footer">
            <div class="col-auto">
              <button mat-raised-button class="picportos-button-accent" (click)="openAddImageDialog()">
                <mat-icon>upload</mat-icon>
                Upload an image
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 m-auto">
      <mat-card>
        <mat-card-title>Create a new collection</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <img src="assets/homepage/collection.png" alt="collection screenshot" title="Collection example"
                 class="tuto-images" (click)="openCollectionDialog()">
          </div>
          <p>Create a collection to arrange, present and comment your images.</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row justify-content-center card-footer">
            <div class="col-auto">
              <button mat-raised-button class="picportos-button-accent" (click)="openCollectionDialog()">
                <mat-icon>add</mat-icon>
                Add a new collection
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 m-auto">
      <mat-card>
        <mat-card-title>Manage Rafalis</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <img src="assets/homepage/dashboard.png" alt="dashboard screenshot" title="Creator dashboard"
                 class="tuto-images" routerLink="/admin">
          </div>
          <p>Manage images, create collections, maps, and set the application configuration.</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row justify-content-center card-footer">
            <div class="col-auto">
              <button mat-raised-button class="picportos-button-accent" routerLink="/admin">
                <mat-icon>dashboard_customize</mat-icon>
                Dashboard
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3 mb-2 ms-1 me-1 justify-content-center" *ngIf="authService.isAdmin && mobile">
    <mat-card>
      <mat-card-title>Quick actions</mat-card-title>
      <mat-card-content>
        <div class="row justify-content-center card-footer">
          <div class="col-auto">
            <button mat-icon-button class="picportos-button-accent" (click)="openAddImageDialog()">
              <mat-icon>upload</mat-icon>
            </button>
          </div>
          <div class="col-auto">
            <button mat-icon-button class="picportos-button-accent" (click)="openCollectionDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-auto">
            <button mat-icon-button class="picportos-button-accent" routerLink="/admin">
              <mat-icon>dashboard_customize</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <app-filters class="w-100"></app-filters>
  </div>
  <app-thum-list (isUserScrollingDown)="onBrowserScroll($event)"
                 (imageClicked)="onImageClicked($event)"></app-thum-list>
</div>
<app-full-image #fullImage></app-full-image>
<div class="credits-scrollable home-credits"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a>
</div>
