<div class="overlay-image-div" *ngIf="show">
  <div class="row justify-content-center g-0 mt-2 mb-2 button-div align-items-center">
    <div class="col-auto me-auto">
      <button mat-icon-button class="viewer-button" (click)="onOpenImageClicked()" *ngIf="enableButton">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <div class="col-auto me-auto text-white title-fullimage">
      {{ imageTitle }}
    </div>
    <div class="col-auto">
      <button mat-icon-button class="viewer-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="image-container">
    <img [src]="imageURL" fill="fill" alt="Image" class="overlay-image" [draggable]="false">
  </div>

  <div class="previous-button" (click)="goPrevious()" *ngIf="previousID !== -1">
    <span class="vertical-center text-white w-auto h-auto" title="Previous [←]"><mat-icon>chevron_left</mat-icon></span>
  </div>
  <div class="next-button" (click)="goNext()" *ngIf="nextID !== -1">
    <span class="vertical-center text-white w-auto h-auto" title="Next [→]"><mat-icon>chevron_right</mat-icon></span>
  </div>
</div>
