::ng-deep .custom-dialog > mat-dialog-container {
  background-color: #1e1e1e00;
  box-shadow: none;
}

.full-image {
  max-height: 95vh;
  max-width: 90vw;
}

.viewer-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.button-div {
  width: 95%;
  margin: auto;
  z-index: 101;
}

.overlay-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay-image-div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.title-fullimage {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70vw;
}

.next-button {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50px;
}

.next-button mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.previous-button mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.previous-button {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50px;
}

.previous-button:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.71) 34%, rgba(0, 0, 0, 0) 100%);
  cursor: pointer;
}

.next-button:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.71) 34%, rgba(0, 0, 0, 0) 100%);
  cursor: pointer;
}
