<app-nav-bar [activatedItem]="'map'"></app-nav-bar>
<div class="background"></div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-form-field appearance="outline" class="custom-form-field mb-3 mt-3 w-100"
                      matTooltip="Select your map, then use left click to move around the map, right click to control the camera">
        <mat-label>Select map</mat-label>
        <mat-select [(value)]="currentSelectedMap"
                    (selectionChange)="onMapSelectionChange()"
                    [disabled]="this.mapIsLoading">
          <mat-option *ngFor="let map of maps" [value]="map"
                      [ngStyle]="this.mapsIDToDelete.has(map.id) ? {background: '#ff1'} : {}">{{mapService.printMapName(map.name)}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center mb-2" style="min-height: 5px">
    <div class="col-md-8">
      <mat-progress-bar *ngIf="mapIsLoading" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div class="row justify-content-center" style="height: 75vh">
    <div class="col-md-10">
      <app-map style="height: 100%"
               (allIsGood)="onMapIsLoaded()"
               [enable3D]="true"
               [mapID]="this.currentSelectedMap?.id"></app-map>
    </div>
  </div>
  <div class="row">
    <div class="credits-scrollable"><a routerLink="/about" matTooltip="About...">Rafalis &#10; © 2022</a></div>
  </div>
</div>
