<div class="row justify-content-end">
  <button mat-icon-button *ngIf="!localEdit && editable" (click)="enablePreview()" matTooltip="Preview">
    <mat-icon>preview</mat-icon>
  </button>
  <button mat-mini-fab *ngIf="editable"
          style="background-color: rgba(0, 0, 0, 0.11); color: #f3e600;"
          (click)="onDelete()"
          matTooltip="Delete section">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button *ngIf="localEdit && !editable" (click)="onEdit()" matTooltip="Edit section">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div class="row">
  <angular-editor [(ngModel)]="htmlContent" [config]="config" *ngIf="editable"></angular-editor>
  <div class="w-100" [innerHTML]="htmlContent" *ngIf="!editable"></div>
</div>
