<div class="row">
  <div class="container-fluid scrollable" #scrollablediv [scrollTop]="browseScrollTop">
    <app-filters class="filters w-100" *ngIf="collectionAddMode"></app-filters>
    <div class="row justify-content-center" *ngIf="!showOnlyPublic">
      <div class="loading-bar">
        <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
      </div>
      <ngx-masonry [options]="options" class="knapsack-grid w-100 ps-2 pe-0" [ordered]="true">
        <div class="knapsack-grid-sizer"></div>
        <div class="knapsack-gutter-sizer"></div>
        <div ngxMasonryItem class="knapsack-item" *ngFor="let item of imageItemsToDisplay">
          <app-image-thum [imageItem]="item"
                          [knapsackWidth]="knapsackWidth"
                          [collectionAddMode]="collectionAddMode"
                          [selected]="selectedImages.has(item)"
                          (click)="onImageClicked(item)"></app-image-thum>
        </div>
      </ngx-masonry>
    </div>
    <div class="row" *ngIf="showOnlyPublic">
      <div class="loading-bar">
        <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
      </div>
      <ngx-masonry [options]="options" class="knapsack-grid w-100 ps-2 pe-0" [ordered]="true">
        <div class="knapsack-grid-sizer"></div>
        <div class="knapsack-gutter-sizer"></div>
        <div ngxMasonryItem class="knapsack-item" *ngFor="let item of publicImageItemsToDisplay">
          <app-image-thum [imageItem]="item"
                          [knapsackWidth]="knapsackWidth"
                          [collectionAddMode]="collectionAddMode"
                          [ngClass]="selectedImages.has(item) ? 'selected' : ''"
                          (click)="onImageClicked(item)"></app-image-thum>
        </div>
      </ngx-masonry>
    </div>
  </div>
</div>
<div class="row justify-content-end" *ngIf="collectionAddMode && multipleMode">
  <div class="col-md-3 mt-1 mb-1">
    <button mat-raised-button
            class="picportos-button-accent"
            [disabled]="selectedImages.size === 0"
            (click)="onConfirmSelection()">Confirm
    </button>
  </div>
</div>
<div class="scroll-to-top-div" [@scrollToTop]="displayScrollToTop ? 'show' : 'dontshow'">
  <button mat-button matTooltip="Scroll to top"
          class="picportos-button"
          (click)="scrollablediv.scrollTop = 0">
    <mat-icon>arrow_drop_up</mat-icon>
  </button>
</div>
