.scrollable {
  height: calc(100vh - 170px);
  scroll-behavior: auto;
}

.filters {
  padding-bottom: 20px;
}


.thumbnail-container {
  margin-bottom: 30px;
  margin-top: 5px;
}

.knapsack-gutter-sizer {
  width: 10px;
}

.knapsack-grid-sizer {
  width: calc(20% - 10px);
}

.knapsack-item {
  width: calc(20% - 10px);
  margin-bottom: 8px;
}

.knapsack-grid {
  margin: 0 auto;
}

.loading-bar {
  margin: 10px auto;
  min-width: 400px;
  width: 80%;
}

@media (max-width: 1023px) {
  .scrollable {
    height: calc(100vh - 210px);
    scroll-behavior: auto;
  }

  .knapsack-item, .knapsack-grid-sizer {
    width: calc(33.333% - 10px);
  }
}
