.map-admin-wrapper {
  background: #8397a8;
  border-radius: 7px;
  color: black;
  height: 50vh;
}

.is-deleted {
  background: rgba(202, 18, 18, 0.45);
}

.map-editor-button {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  //position: absolute;
  right: 0;
  top: calc(50% - 40px);
  max-width: 150px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
