<div class="container-fluid map-admin-wrapper pt-4">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="map-mat-select w-100" appearance="outline">
        <mat-label>Select a map</mat-label>
        <mat-select [(value)]="currentSelectedMap"
                    (selectionChange)="updateReadOnly()">
          <mat-option *ngFor="let map of maps" [value]="map"
                      [ngStyle]="this.mapsIDToDelete.has(map.id) ? {background: '#CA121272'} : {}">{{mapService.printMapName(map.name)}}
            {{this.mapsIDToDelete.has(map.id) ? ' - marked for deletion' : ''}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngIf="!!this.currentSelectedMap">
      <app-map-configurator [editMode]="true"
                            [readOnly]="isConfiguratorReadonly"
                            (deleted)="onMapDelete($event)"
                            [baseMap]="currentSelectedMap"></app-map-configurator>
    </div>
    <div class="col-md-auto me-auto ms-auto" *ngIf="!mobileService.isMobileScreen && !!currentSelectedMap">
      <button mat-raised-button class="picportos-button map-editor-button" (click)="openEditor()"
              matTooltip="Allows you to edit images positions">
        View/Edit {{currentSelectedMap?.name}}
      </button>
    </div>
  </div>
</div>
