@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'bootstrap/scss/bootstrap-grid.scss';
/*@import "theme/_material.scss";*/
@import "theme/mapbox";

/* Roboto Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

/* Material Icons Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Material_Icons/MaterialIcons-Regular.ttf') format('truetype');
}

/* Material Icons Font */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Material_Icons_Outlined/MaterialIconsOutlined-Regular.otf') format('opentype');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


html, body {
  height: calc(100vh - calc(100vh - 100%));
  //min-height: -webkit-fill-available;
  //min-height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.mat-dialog-container {
  background-color: #8397a8;
}

.dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(4px);
}

.mat-mdc-dialog-container {
  background: #8397a8;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/background.svg");
  background-position: center;
  z-index: -1;
}

.mat-mdc-card {
  background-color: #edf0ff;
}

.main-wrapper {
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100% - 60px);
}

.main-wrapper-scrollable {
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .main-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .main-wrapper-scrollable {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
  }
}

.picportos-image-h {
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  border-radius:3px;
}

.picportos-image-h:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(6,6,6,.5);
}

.credits {
  height: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;

  a {
    color: #eeeeee;
    text-decoration: underline;
  }
}

.credits-scrollable {
  height: 5%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 300px;
  text-align: center;
  text-decoration: underline;

  a {
    color: #eeeeee;
    text-decoration: underline;
  }
}

.credits-scrollable:hover > a {
  cursor: pointer;
}

.credits:hover > a {
  cursor: pointer;
}

.picportos-button {
  background-color: #00214a;
  color: white;
}

.picportos-button-accent {
  background-color: rgb(243, 230, 0);
  color: black;
}

.picportos-button-warn {
  background-color: #ca1212;
  color: #fff;
}

.picportos-button-pulse {
  background-color: #22ecb3;
  color: #000000;
  -webkit-animation: pulse-focus 2s infinite;
  animation: pulse-focus 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(55, 103, 162, 0.7);
  }

  70% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-focus {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes custom-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullImage {
  max-height: 60vh;
  max-width: 50vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.bigicon-not-found {
  font-size: 350px;
}

.custom-form-field {
  width: 60%;
  margin-top: 15px;
  background: #3767a2;
  color: white;
  border-radius: 7px;
  height: 68px;
  padding-left: 4px;
  padding-right: 4px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scrollable {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-to-top-div {
  position: fixed;
  bottom: 45px;
  right: 30px;
  z-index: 99;
}
