<app-nav-bar [activatedItem]="'imageViewer'"></app-nav-bar>
<div [ngStyle]="backgroundStyle" class="background"></div>
<div class="container-fluid" *ngIf="displayImage">
  <div class="row main-row align-content-center">
    <div class="col-md-9 image-wrapper" id="image-container">
      <app-image (imageclicked)="onImageClicked()"
                 [imageID]="this.imageID"
                 [classes]="'main-image picportos-image-h'"
                 style="height: 100%; display: flex;"></app-image>
    </div>
    <div class="col-md-3 h-100">
      <mat-card [ngStyle]="matcardStyle" class="description-card"
                [ngClass]="transitioning ? 'desc-hidden' : 'desc-shown'">
        <div style="max-height: 15%; overflow-y: scroll" class="hide-scrollbar">
          <h2 mat-card-title> {{image?.title}}</h2>
        </div>
        <hr>
        <div mat-card-content class="container-fluid description-wrap hide-scrollbar" *ngIf="!!image">
          <app-description *ngIf="!displayDescriptionForm"
                           class="w-100"
                           (descriptionEditRequested)="toggleDescriptionForm()"
                           (downloadRequested)="downloadImage()"
                           [currentDescription]="image"></app-description>
          <app-description-edit *ngIf="displayDescriptionForm" (newDescriptionToUpdate)="updateDescription($event)"
                                (deleteRequested)="deleteImage()"
                                [currentDescription]="image"></app-description-edit>
        </div>
        <div class="row justify-content-center palette card-footer" *ngIf="paletteStyles">
          <span *ngIf="previousID === -1" class="placeholder-nextprevious"></span>
          <button mat-icon-button
                  matTooltip="Previous image [Arrow left]"
                  class="mt-auto prev-next-button"
                  *ngIf="previousID !== -1"
                  (click)="goPrevious()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <div *ngFor="let p of paletteStyles"
               class="palette-color col-sm-1"
               [matTooltip]="p['background-color']"
               [ngStyle]="p">
          </div>
          <button mat-icon-button
                  matTooltip="Next image [Arrow right]"
                  class="mt-auto prev-next-button"
                  *ngIf="nextID !== -1"
                  (click)="goNext()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <span *ngIf="nextID === -1" class="placeholder-nextprevious"></span>
          <span id="id-div">#{{image?.id}}</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div [ngClass]="mobileFlag ? 'credits-scrollable' : 'credits'"><a routerLink="/about" matTooltip="About...">Rafalis
  &#10; © 2022</a></div>
<div *ngIf="!displayImage" class="container-fluid imgAndDescriptionWrap">
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="bigicon-not-found"><mat-icon style="font-size: 350px" class="w-auto h-auto"
                                                fontIcon="hide_image"></mat-icon></span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2>Image unavailable.</h2>
    </div>
  </div>
</div>
<app-full-image #fullImage></app-full-image>
