.description {
  height: calc(100% - 118px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow-y: auto;
}

.main-row {
  height: calc(100vh - 60px);
}

.image-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
  min-height: 200px;
  max-height: calc(100% - 60px);;
  touch-action: pan-y !important;
}

.description-card {
  height: calc(100% - 60px);
  margin-bottom: 30px;
  margin-top: 30px;
}

.desc-hidden {
  display: none;
}

.desc-shown {
  display: block;
  animation: custom-fade-in .4s;
}

.description-wrap {
  max-height: 75%;
  overflow-y: scroll;
  width: 100%;
}

.mat-mdc-card-content {
  margin-bottom: 0;
}

.placeholder-nextprevious {
  width: 40px;
  height: 40px;
}

.palette {
  bottom: 0;
  //height: 7%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.palette-color {
  height: 10px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-top: auto;
  max-height: 10px;
  max-width: 50px;
}

.prev-next-button {
  margin-bottom: 11px;
}

#id-div {
  color: #434343;
  position: absolute;
  bottom: 0;
  width: auto;
}

.palette-color:hover {
  cursor: pointer;
}

.credits-scrollable {
  padding-top: 0;
}

@media (max-width: 1024px) {
  .description-card {
    height: auto;
    margin: 30px auto;
    width: 95%;
  }

  .description-wrap {
    height: auto;
    //min-height: 350px;
  }

  .main-row {
    height: auto;
  }

  .image-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    //height: 40vh;
  }

  .description-card {
    width: auto;
  }

  .palette-color {
    max-width: 20px;
  }

  .palette {
    padding-bottom: 20px;
    position: relative;
  }

  #id-div {
    bottom: -2px;
  }
}
