<div class="container-fluid" *ngIf="!editable">
  <div class="row justify-content-center">
    <ngb-carousel class="h-100 w-100" [ngStyle]="{'min-width': mobile ? '100%': '50%'}">
      <ng-template ngbSlide *ngFor="let id of imageIds">
        <app-image [imageID]="id"
                   (click)="toggleZoom('#me-carousel-' + this.id)"
                   [id]="'me-carousel-' + this.id"
                   [classes]="imageClass"
                   class="h-100 w-100"
                   style="display: flex; cursor: pointer"></app-image>
        <div class="carousel-caption">
          <button (click)="openImage(id)"
                  *ngIf="!editable"
                  mat-icon-button matTooltip="Open in new tab">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="container-fluid pt-4 mb-3 mt-3 pb-4 carousel-edit" *ngIf="editable"
     [ngStyle]="{width: mobile ? '100%' : '50%'}">
  <div class="row justify-content-end mb-3">
    <div class="col-md-2 text-center" *ngIf="editable">
      <button mat-raised-button class="picportos-button on-edit-button"
              matTooltip="Edit the carousel" (click)="onModify()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="col-md-2 text-center" *ngIf="editable">
      <button mat-mini-fab *ngIf="editable"
              style="background-color: rgba(0, 0, 0, 0.11); color: #f3e600;"
              (click)="onDelete()"
              class="on-edit-button"
              matTooltip="Remove the carousel">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let id of imageIds">
      <img [lazyLoad]="this.imageService.getImageURL(id, 3)" alt="preview"
           style="width: 100px; height: 100px; object-fit: cover">
    </div>
  </div>
</div>
